@import "src/styles/theming";

form {
  width: 350px;
  margin: auto;
  text-align: center;

  label {
    display: block;
    margin-top: 15px;

    input[type=text], textarea {
      width: 100%;
      padding: 8px 13px;
      border-radius: 6px;
      border: 1px solid map-get($gray-palette, 250);

      &::placeholder {
        color: map-get($gray-palette, 250);
      }
    }

    textarea {
      height: 70px;
    }
  }

  .set-logo-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: map-get($gray-palette, 350);
    border: 2px solid map-get($gray-palette, 450);
    font-size: 18px;
    color: map-get($gray-palette, 450);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 1;

    &.with-picture:not(.yes-drop) {
      border: none;
      background-color: transparent;
      font-size: 0;

      &:hover {
        font-size: 18px;

        img {
          filter: blur(1px);
        }

        span {
          background-color: rgba(map-get($gray-palette, 350), 0.7);
          display: flex;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          color: $white;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      object-fit: cover;
      transition: 0.3s filter;
      pointer-events: none;
    }

    &.yes-drop {
      background-image: url("/assets/icons/cloud-upload.svg");
      font-size: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-color: map-get($gray-palette, 200);
      border: 2px dashed map-get($gray-palette, 450);

      img {
        display: none;
      }
    }

    span {
      transition: 0.3s background-color;
    }

    input[type=file] {
      display: none;
    }
  }

  button[type=submit] {
    padding: 5px 30px;
    background-color: map-get($green-palette, 500);
    color: $white;
    border: none;
    border-radius: 60px;
    font-size: 13px;
    margin-top: 15px;
  }
}
