<form *ngIf="mainForm; else loader" [formGroup]="mainForm" (ngSubmit)="submitForm()">
  <label appDragDrop class="set-logo-btn" (onFileDropped)="filesDropped($event)" [class.with-picture]="picture">
    <img [hidden]="!picture" [src]="picture" />
    <input type="file" (change)="filesChanged($event)" id="upload-photo" #fileInput />
    <span>+ Logo</span>
  </label>
  <label>
    <input type="text" formControlName="name" placeholder="Business name" />
    <ng-container *ngIf="mainForm.get('name')?.touched">
      <div *ngIf="mainForm.get('name').hasError('required')" class="is-error">This field is required</div>
      <div *ngIf="mainForm.get('name').hasError('Company with this name already exists.')" class="is-error">This name is already taken</div>
    </ng-container>
  </label>
  <label>
    <textarea formControlName="slogan" placeholder="Slogan"></textarea>
  </label>
  <button type="submit">Next</button>
</form>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
