<div *ngIf="supplierForm; else loader" class="create-business more-width">
  <h2>Your suppliers</h2>
  <div *ngIf="!supplierForm.controls.length && !suppliers.length" class="no-length">You have no suppliers</div>
  <div *ngFor="let supplier of suppliers; let i = index" class="multiple-form">
    <input type="text" placeholder="Supplier name" class="form-name" [value]="supplier.supplier" />
    <label>
      <input type="file" />
      <div appDragDrop class="upload-file">
        <span class="icon i-plus-gray"></span>
        <span class="icon i-cloud-upload"></span>
      </div>
      <span class="file-name">{{ supplier.filename }}</span>
    </label>
    <input type="text" placeholder="Contacts" class="form-contacts" [value]="supplier.contact">
    <button type="button" (click)="deleteSupplier(i)" class="icon i-delete-form"></button>
  </div>
  <form *ngFor="let fb of supplierForm.controls; let i = index" [formGroup]="fb" class="multiple-form">
    <input type="text" placeholder="Supplier name" formControlName="name" class="form-name" />
    <label>
      <input type="file" (change)="fileChanged($event, i)" [class.has-error]="fb.touched && fb.get('document').errors" />
      <div appDragDrop class="upload-file" (onFileDropped)="fileDropped($event, i)">
        <span class="icon i-plus-gray"></span>
        <span class="icon i-cloud-upload"></span>
      </div>
      <span class="file-name">{{ fb.get('document').value?.name || 'Add document' }}</span>
    </label>
    <input type="text" placeholder="Contacts" formControlName="contacts" class="form-contacts">
    <button type="button" (click)="removeForm(i)" class="icon i-delete-form"></button>
  </form>
  <button type="button" (click)="addSupplierForm()" class="add-new-form">
    <span class="icon i-plus-green"></span>
    Add supplier
  </button>
  <div class="two-actions">
    <a [routerLink]="['/user', 'business', companyUuid, 'change', 'workers']" class="back-btn">Back</a>
    <button type="button" (click)="submitForm()" class="next-btn">Next</button>
  </div>
</div>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
