<div class="notes-cover">
  <div class="filter-cover">
    <div class="filter-left">
      <div class="filter-sort">
        <div class="filter-sort-word filter-word">Filter:</div>
        <app-bare-select [control]="filterForm.get('filtering')" [options]="filterOptions" class="green-value"></app-bare-select>
      </div>
      <div class="sort-sort">
        <div class="sort-sort-word filter-word">Sort:</div>
        <app-bare-select [control]="filterForm.get('sorting')" [options]="sortOptions" class="green-value"></app-bare-select>
      </div>
      <div class="date-sort">
        <div class="date-sort-word filter-word">Date:</div>
        <div class="position-relative m-l-10">
          <app-datepicker placeholder="From" [control]="filterForm.get('from_date')" [maxDate]="dateTo" class="bare filter-width"></app-datepicker>
        </div>
        <div class="position-relative">
          <app-datepicker placeholder="To" [control]="filterForm.get('to_date')" [minDate]="dateFrom" class="bare filter-width"></app-datepicker>
        </div>
      </div>
    </div>
    <div class="filter-right">
      <div class="view-choices">
        View:
        <button type="button" (click)="setView('box')" class="icon i-box-view" [class.active]="currentView == 'box'"></button>
        <button type="button" (click)="setView('list')" class="icon i-list-view" [class.active]="currentView == 'list'"></button>
      </div>
      <button *ngIf="!isAdding; else stopAdding" type="button" (click)="changeAdding(true)" class="add-new-note">
        <span class="icon i-add-task"></span>
        Add new note
      </button>
      <ng-template #stopAdding>
        <button type="button" (click)="changeAdding(false)" class="add-new-note stop-adding">
          <span class="icon i-dash-close"></span>
          Close window
        </button>
      </ng-template>
      <div *ngIf="isAdding" class="absolute-note">
        <app-create-note (created)="createdNote($event)" (edited)="edited($event)" [note]="chosenNote" [noteForm]="noteForm" (close)="changeAdding(false)"></app-create-note>
      </div>
      <div *ngIf="isWatching" class="fixed-note" #watchElement>
        <app-watch-note [noteUuid]="notePagination?.results[selectedNote].uuid"
                        (replied)="replyNote(notePagination?.results[selectedNote].uuid, $event, selectedNote)"
                        (edited)="startEditNote($event)" (closed)="closeWatch()"></app-watch-note>
      </div>
    </div>
  </div>
  <ng-container [ngSwitch]="currentView">
    <div *ngSwitchCase="'list'" class="task-item-cover">
      <a *ngFor="let note of notePagination?.results; let i = index; trackBy: trackByNotes" (click)="selectNote($event, i)"
         class="task-item note-color medium-left" [ngClass]="'priority-' + note.priority">
        <div class="task-name">{{ note.name }}</div>
        <div class="task-description">{{ note.text }}</div>
        <div class="task-date">{{ note.created_at | date: 'dd MMM, yyyy' }}</div>
        <div class="task-info">
          <div class="task-sent">
            <span class="icon i-sent"></span>
            Send by
          </div>
          <a [routerLink]="['/user/profile/', note.from_user.uuid]" class="task-author">
            <img [src]="note.from_user.avatar || noAvatar" />
            {{ note.from_user.first_name }} {{ note.from_user.last_name }}
          </a>
        </div>
        <div *ngIf="note.is_request" class="task-actions">
          <button type="button" (click)="replyNote(note.uuid, false, i, $event)" class="action-btn decline-btn">
            <span class="icon i-delete-form"></span>
            Decline
          </button>
          <button type="button" (click)="replyNote(note.uuid, true, i, $event)" class="action-btn accept-btn">
            <span class="icon i-accept"></span>
            Accept
          </button>
        </div>
        <div *ngIf="!note.is_request && note.deadline" class="task-deadline">
          <span class="icon i-clock"></span>
          Completion
          <span class="task-deadline-date">{{ note.deadline | date: 'dd.MM.yyyy' }}</span>
        </div>
      </a>
    </div>
    <div *ngSwitchCase="'box'" class="task-item-cover for-box">
      <a *ngFor="let note of notePagination?.results; let i = index; trackBy: trackByNotes" (click)="selectNote($event, i)" class="box-item">
        <div class="box-date">{{ note.created_at | date: 'dd MMM, yyyy' }}</div>
        <div class="box-name">
          <div class="box-tick" [ngClass]="'priority-' + note.priority"></div>
          {{ note.name }}
        </div>
        <div class="box-bottom">
          <div class="box-description">{{ note.text }}</div>
          <div class="box-info">
            <div class="box-sent">
              <span class="icon i-sent"></span>
              Send by
            </div>
            <a [routerLink]="['/user/profile/', note.from_user.uuid]" class="box-author">
              <img [src]="note.from_user.avatar || noAvatar" />
              {{ note.from_user.first_name }} {{ note.from_user.last_name }}
            </a>
          </div>
          <div *ngIf="note.is_request" class="box-actions">
            <button type="button" (click)="replyNote(note.uuid, false, i)" class="action-btn decline-btn">
              <span class="icon i-delete-form"></span>
              Decline
            </button>
            <button type="button" (click)="replyNote(note.uuid, true, i)" class="action-btn accept-btn">
              <span class="icon i-accept"></span>
              Accept
            </button>
          </div>
          <div *ngIf="!note.is_request && note.deadline" class="box-deadline">
            <span class="icon i-clock"></span>
            Completion
            <span class="box-deadline-date">{{ note.deadline | date: 'dd.MM.yyyy' }}</span>
          </div>
        </div>
      </a>
    </div>
    <div *ngIf="notePagination && !notePagination.results.length" class="no-length">You have no notes</div>
    <button *ngIf="notePagination?.next" type="button" (click)="getNotes()" class="show-more">Show more</button>
  </ng-container>
</div>
