<div class="top-navigation-cover" [class.no-business]="!companyUuid">
  <a [routerLink]="companyUuid ? ['/user', 'business', companyUuid, 'change', 'main'] : ['/user/business/create']" routerLinkActive="active">Main</a>
  <a routerLink="about" routerLinkActive="active">About</a>
  <a routerLink="socials" routerLinkActive="active">Socials</a>
  <a routerLink="statute" routerLinkActive="active">Statute</a>
  <a routerLink="permissions" routerLinkActive="active">Permissions</a>
  <a routerLink="photos" routerLinkActive="active">Photos</a>
  <a routerLink="videos" routerLinkActive="active">Videos</a>
  <a routerLink="clients" routerLinkActive="active">Clients</a>
  <a routerLink="workers" routerLinkActive="active">Workers</a>
  <a routerLink="suppliers" routerLinkActive="active">Suppliers</a>
  <a routerLink="documents" routerLinkActive="active">Documents</a>
</div>
<div class="main-action-cover">
  <router-outlet></router-outlet>
</div>
