@import "src/styles/theming";

.top-navigation-cover {
  width: 100%;
  height: 50px;
  background-color: $white;
  box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.no-business {
    a:not(:first-child) {
      pointer-events: none;
    }
  }

  a {
    width: fit-content;
    padding: 16px 6px;
    margin: 0 6px;
    text-decoration: none;
    color: map-get($gray-palette, 350);
    font-size: 14px;

    &.active {
      color: map-get($gray-palette, 450);
      border-bottom: 3px solid map-get($green-palette, 500);
    }
  }
}

.main-action-cover {
  background-color: $white;
  width: 100%;
  margin: 14px 0 0;
  padding: 30px 0;
}
