<div class="container header-cover">
  <div class="header-left-cover">
    <a routerLink="/"><img src="/assets/images/logo.png"></a>
  </div>
  <div class="main-header-right-cover">
    <div class="social-icons">
      <a href="http://youtube.com/" target="_blank"><img src="/assets/icons/youtube.svg" /></a>
      <a href="https://instagram.com/" target="_blank"><img src="/assets/icons/instagram.svg" /></a>
      <a href="https://web.whatsapp.com/" target="_blank"><img src="/assets/icons/whatsapp.svg" /></a>
      <a href="https://facebook.com/" target="_blank"><img src="/assets/icons/facebook.svg" /></a>
    </div>
    <div class="site-links">
      <a>Product</a>
      <a>Service</a>
      <a>Contact</a>
    </div>
    <div class="burger-cover">
      <img src="/assets/icons/burger.svg" />
    </div>
  </div>
</div>
