@import "src/styles/theming";

.header-cover {
  display: flex;
  padding: 15px 0;

  .header-left-cover {
    width: 50%;
  }

  .social-icons {
    display: flex;
    align-items: center;

    a {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }

  .site-links {
    margin-left: 50px;

    a {
      color: map-get($green-palette, 500);
      margin-left: 30px;
    }
  }

  .burger-cover {
    display: flex;
    background-color: rgba(map-get($gray-palette, 100), 0.2);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;

    img {
      display: block;
      margin: auto;
    }
  }
}
