@import "src/styles/theming";

.edit-cover {
  background-color: $white;
  width: 550px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  height: fit-content;

  .edit-block {
    padding: 0 0 20px;

    .header-text-cover {
      padding: 15px 20px;
      border-bottom: 1px solid map-get($gray-palette, 350);

      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: map-get($gray-palette, 650);
      }
    }

    .add-another-form {
      margin-left: 150px;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: map-get($gray-palette, 450);
      font-size: 14px;
      outline: none;

      .icon {
        margin-right: 10px;
      }
    }

    .multiple-form-cover {
      form {
        &:not(:first-child) {
          margin-top: 10px;
          border-top: 1px solid map-get($gray-palette, 350);
        }
      }
    }

    form {
      padding: 10px 0;

      .input-label-cover {
        display: flex;
        align-items: center;
        margin-top: 10px;

        &.align-top {
          align-items: end;

          .input-label-left {
            margin-top: 5px;
          }
        }

        .input-label-left {
          width: 25.5%;
          color: map-get($gray-palette, 750);
          font-size: 13px;
          text-align: end;
        }

        .input-right {
          margin-left: 10px;

          input, textarea {
            &:focus {
              outline: none;
              border: 1px solid map-get($gray-palette, 450);
            }
          }

          input {
            width: 320px;
            height: 34px;
            border: 1px solid map-get($gray-palette, 350);
            padding: 6px 10px;
            border-radius: 8px;
            color: map-get($gray-palette, 850);
          }

          textarea {
            width: 300px;
            height: 90px;
            border: 1px solid map-get($gray-palette, 350);
            border-radius: 4px;
            color: map-get($gray-palette, 850);
          }
        }
      }
    }
  }
}

.right-cover {
  margin-left: 14px;
  position: sticky;
  top: 5px;
  height: fit-content;

  .edit-navigation {
    width: 230px;
    height: fit-content;
    background-color: $white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 7px 0;

    .edit-block-name {
      padding: 7px 20px;
      color: map-get($gray-palette, 850);
      font-size: 14px;
      cursor: pointer;
      display: block;
      text-decoration: none;

      &:hover {
        background-color: map-get($gray-palette, 50);
        border-left: 2px solid map-get($gray-palette, 750);
        padding: 7px 18px;
      }

      &.active {
        border-left: 2px solid map-get($gray-palette, 850);
        background-color: map-get($gray-palette, 350);
        padding: 7px 18px;
        pointer-events: none;
      }
    }
  }

  .save-cover {
    padding: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: $white;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 10px 0;
      width: 90px;
      border-radius: 40px;
      border: none;
      font-size: 11px;
      cursor: pointer;
      outline: none;

      &.decline-btn {
        background-color: map-get($gray-palette, 350);
        color: map-get($gray-palette, 450);
      }

      &.save-btn {
        background-color: map-get($green-palette, 500);
        color: $white;
      }
    }
  }
}
