<div class="main-right-user-cover">
  <div [ngSwitch]="currentState" class="edit-cover">
    <div *ngSwitchCase="1" class="edit-block">
      <div class="header-text-cover no-border-top">
        <h3>Basic info</h3>
      </div>
      <form *ngIf="formGroup; else loader" [formGroup]="formGroup">
        <div class="input-label-cover">
          <div class="input-label-left">
            Username:
          </div>
          <div class="input-right">
            <input type="text" formControlName="username" />
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            First name:
          </div>
          <div class="input-right">
            <input type="text" formControlName="first_name" />
            <ng-container *ngIf="formGroup.get('first_name').touched">
              <div *ngIf="formGroup.get('first_name').hasError('required')" class="is-error">This field is required</div>
            </ng-container>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Last name:
          </div>
          <div class="input-right">
            <input type="text" formControlName="last_name" />
            <ng-container *ngIf="formGroup.get('last_name').touched">
              <div *ngIf="formGroup.get('last_name').hasError('required')" class="is-error">This field is required</div>
            </ng-container>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Position:
          </div>
          <div class="input-right">
            <input type="text" formControlName="position" />
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Gender:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('gender')" [isEditable]="false" [options]="genders"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Birthday:
          </div>
          <div class="input-right">
            <app-datepicker [control]="formGroup.get('birth_date')" [maxDate]="today"></app-datepicker>
            <ng-container *ngIf="formGroup.get('birth_date').touched">
              <div *ngIf="formGroup.get('birth_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="2" class="edit-block">
      <div class="header-text-cover">
        <h3>Contact info</h3>
      </div>
      <form *ngIf="formGroup; else loader" [formGroup]="formGroup">
        <div class="input-label-cover">
          <div class="input-label-left">
            Country:
          </div>
          <div class="input-right">
            <app-select (searching)="searchCountry($event)" [control]="formGroup.get('country')" [options]="countries"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            City:
          </div>
          <div class="input-right">
            <app-select (searching)="searchCity($event)" [control]="formGroup.get('city')" [options]="cities"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Email:
          </div>
          <div class="input-right">
            <input type="text" formControlName="email" />
            <ng-container *ngIf="formGroup.get('email').touched">
              <div *ngIf="formGroup.get('email').hasError('email')" class="is-error">Enter valid email address</div>
            </ng-container>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Alt. phone:
          </div>
          <div class="input-right">
            <input type="text" formControlName="alt_phone" mask="+00000000000000000" />
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Skype:
          </div>
          <div class="input-right">
            <input type="text" formControlName="skype" />
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Website:
          </div>
          <div class="input-right">
            <input type="text" formControlName="website" />
            <ng-container *ngIf="formGroup.get('website').touched">
              <div *ngIf="formGroup.get('website').hasError('pattern')" class="is-error">Enter valid url address</div>
            </ng-container>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Instagram:
          </div>
          <div class="input-right">
            <input type="text" formControlName="instagram" />
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Facebook:
          </div>
          <div class="input-right">
            <input type="text" formControlName="facebook" />
          </div>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="3" class="edit-block">
      <div class="header-text-cover">
        <h3>Interests</h3>
      </div>
      <form *ngIf="formGroup; else loader" [formGroup]="formGroup">
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Activites:
          </div>
          <div class="input-right">
            <textarea formControlName="activities"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Interests:
          </div>
          <div class="input-right">
            <textarea formControlName="interests"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Favourite music:
          </div>
          <div class="input-right">
            <textarea formControlName="favorite_musics"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Favourite movies:
          </div>
          <div class="input-right">
            <textarea formControlName="favorite_movies"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Favourite books:
          </div>
          <div class="input-right">
            <textarea formControlName="favorite_books"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            Favourite quotes:
          </div>
          <div class="input-right">
            <textarea formControlName="favorite_quotes"></textarea>
          </div>
        </div>
        <div class="input-label-cover align-top">
          <div class="input-label-left">
            About me:
          </div>
          <div class="input-right">
            <textarea formControlName="about_me"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="4" class="edit-block">
      <div class="header-text-cover">
        <h3>Secondary and continuing education</h3>
      </div>
      <div *ngIf="formGroup; else loader" class="multiple-form-cover">
        <form *ngFor="let fb of formGroup.controls; let i = index" [formGroup]="fb">
          <div class="input-label-cover">
            <div class="input-label-left">
              Country:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCountry($event)" [control]="fb.get('country')" [options]="countries"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              City:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCityWithFormGroup($event, fb)" [control]="fb.get('city')" [options]="cities"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              School:
            </div>
            <div class="input-right">
              <input type="text" formControlName="school" />
              <ng-container *ngIf="fb.get('school').touched">
                <div *ngIf="fb.get('school').hasError('required')" class="is-error">This field is required</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Date of issue:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('issue_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('issue_date').touched">
                <div *ngIf="fb.get('issue_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Specialization:
            </div>
            <div class="input-right">
              <input type="text" formControlName="specialization_name" />
            </div>
          </div>
          <button type="button" *ngIf="i > 0" (click)="deleteForm(i)" class="add-another-form m-t-15">
            <span class="icon i-delete-form"></span>
            Remove this form
          </button>
        </form>
        <button type="button" (click)="addAnotherSchool()" class="add-another-form">
          <span class="icon i-add-form"></span>
          Add another school
        </button>
      </div>
    </div>
    <div *ngSwitchCase="5" class="edit-block">
      <div class="header-text-cover">
        <h3>Higher education</h3>
      </div>
      <div *ngIf="formGroup; else loader" class="multiple-form-cover">
        <form *ngFor="let fb of formGroup.controls; let i = index" [formGroup]="fb">
          <div class="input-label-cover">
            <div class="input-label-left">
              Country:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCountry($event)" [control]="fb.get('country')" [options]="countries"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              City:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCityWithFormGroup($event, fb)" [control]="fb.get('city')" [options]="cities"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              College / university:
            </div>
            <div class="input-right">
              <input type="text" formControlName="institution" />
              <ng-container *ngIf="fb.get('institution').touched">
                <div *ngIf="fb.get('institution').hasError('required')" class="is-error">This field is required</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Faculty:
            </div>
            <div class="input-right">
              <input type="text" formControlName="faculty_name" />
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Form of training:
            </div>
            <div class="input-right">
              <input type="text" formControlName="form_training" />
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Status:
            </div>
            <div class="input-right">
              <app-select [control]="fb.get('status')" [isEditable]="false" [options]="higherEducationStatuses"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Date of issue:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('issue_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('issue_date').touched">
                <div *ngIf="fb.get('issue_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <button type="button" *ngIf="i > 0" (click)="deleteForm(i)" class="add-another-form m-t-15">
            <span class="icon i-delete-form"></span>
            Remove this form
          </button>
        </form>
        <button type="button" (click)="addAnotherUniversity()" class="add-another-form">
          <span class="icon i-add-form"></span>
          Add another university
        </button>
      </div>
    </div>
    <div *ngSwitchCase="6" class="edit-block">
      <div class="header-text-cover">
        <h3>Career</h3>
      </div>
      <div *ngIf="formGroup; else loader" class="multiple-form-cover">
        <form *ngFor="let fb of formGroup.controls; let i = index" [formGroup]="fb">
          <div class="input-label-cover">
            <div class="input-label-left">
              Company:
            </div>
            <div class="input-right">
              <input type="text" formControlName="company" />
              <ng-container *ngIf="fb.get('company').touched">
                <div *ngIf="fb.get('company').hasError('required')" class="is-error">This field is required</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Country:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCountry($event)" [control]="fb.get('country')" [options]="countries"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              City:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCityWithFormGroup($event, fb)" [control]="fb.get('city')" [options]="cities"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              From:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('from_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('from_date').touched">
                <div *ngIf="fb.get('from_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              To:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('to_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('to_date').touched">
                <div *ngIf="fb.get('to_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Position:
            </div>
            <div class="input-right">
              <input type="text" formControlName="position" />
            </div>
          </div>
          <button type="button" *ngIf="i > 0" (click)="deleteForm(i)" class="add-another-form m-t-15">
            <span class="icon i-delete-form"></span>
            Remove this form
          </button>
        </form>
        <button type="button" (click)="addAnotherCareer()" class="add-another-form">
          <span class="icon i-add-form"></span>
          Add another job
        </button>
      </div>
    </div>
    <div *ngSwitchCase="7" class="edit-block">
      <div class="header-text-cover">
        <h3>Military service</h3>
      </div>
      <div *ngIf="formGroup; else loader" class="multiple-form-cover">
        <form *ngFor="let fb of formGroup.controls; let i = index" [formGroup]="fb">
          <div class="input-label-cover">
            <div class="input-label-left">
              Country:
            </div>
            <div class="input-right">
              <app-select (searching)="searchCountry($event)" [control]="fb.get('country')" [options]="countries"></app-select>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              Army part:
            </div>
            <div class="input-right">
              <input type="text" formControlName="army_part" />
              <ng-container *ngIf="fb.get('army_part').touched">
                <div *ngIf="fb.get('army_part').hasError('required')" class="is-error">This field is required</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              From:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('from_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('from_date').touched">
                <div *ngIf="fb.get('from_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <div class="input-label-cover">
            <div class="input-label-left">
              To:
            </div>
            <div class="input-right">
              <app-datepicker [control]="fb.get('to_date')"></app-datepicker>
              <ng-container *ngIf="fb.get('to_date').touched">
                <div *ngIf="fb.get('to_date').hasError('pattern')" class="is-error">Wrong formatted, correct format is dd/MM/YYYY</div>
              </ng-container>
            </div>
          </div>
          <button type="button" *ngIf="i > 0" (click)="deleteForm(i)" class="add-another-form m-t-15">
            <span class="icon i-delete-form"></span>
            Remove this form
          </button>
        </form>
        <button type="button" (click)="addAnotherMilitaryService()" class="add-another-form">
          <span class="icon i-add-form"></span>
          Add another military service
        </button>
      </div>
    </div>
    <div *ngSwitchCase="8" class="edit-block">
      <div class="header-text-cover">
        <h3>Life position</h3>
      </div>
      <form *ngIf="formGroup; else loader" [formGroup]="formGroup">
        <div class="input-label-cover">
          <div class="input-label-left">
            Political views:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('political_views')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Worldview:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('world_views')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Personal priority:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('personal_priority')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Important in others:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('important_in_others')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Views on smoking:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('smoking_views')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Views on alcohol:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('alcohol_views')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
        <div class="input-label-cover">
          <div class="input-label-left">
            Inspired by:
          </div>
          <div class="input-right">
            <app-select [control]="formGroup.get('inspired_by')" [isEditable]="false" [options]="viewOptions"></app-select>
          </div>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="9" class="edit-block">
      <div class="header-text-cover">
        <h3>Life position</h3>
      </div>
      <div *ngIf="formGroup; else loader" class="multiple-form-cover">
        <form *ngFor="let fb of formGroup.controls; let i = index" [formGroup]="fb">
          <div class="input-label-cover">
            <div class="input-label-left">
              URL:
            </div>
            <div class="input-right">
              <input type="text" formControlName="url" />
              <ng-container *ngIf="fb.get('url').touched">
                <div *ngIf="fb.get('url').hasError('required')" class="is-error">This field is required</div>
                <div *ngIf="fb.get('url').hasError('pattern')" class="is-error">Enter valid url address</div>
              </ng-container>
            </div>
          </div>
          <button type="button" *ngIf="i > 0" (click)="deleteForm(i)" class="add-another-form m-t-15">
            <span class="icon i-delete-form"></span>
            Remove this form
          </button>
        </form>
        <button type="button" (click)="addAnotherPortfolio()" class="add-another-form">
          <span class="icon i-add-form"></span>
          Add another portfolio
        </button>
      </div>
    </div>
  </div>
  <div class="right-cover">
    <div class="edit-navigation">
      <a class="edit-block-name" [class.active]="currentState == 1" (click)="selectState(1)">Basic info</a>
      <a class="edit-block-name" [class.active]="currentState == 2" (click)="selectState(2)">Contact info</a>
      <a class="edit-block-name" [class.active]="currentState == 3" (click)="selectState(3)">Interests</a>
      <a class="edit-block-name" [class.active]="currentState == 4" (click)="selectState(4)">Secondary and continuing education</a>
      <a class="edit-block-name" [class.active]="currentState == 5" (click)="selectState(5)">Higher education</a>
      <a class="edit-block-name" [class.active]="currentState == 6" (click)="selectState(6)">Career</a>
      <a class="edit-block-name" [class.active]="currentState == 7" (click)="selectState(7)">Military service</a>
      <a class="edit-block-name" [class.active]="currentState == 8" (click)="selectState(8)">Life position</a>
      <a class="edit-block-name" [class.active]="currentState == 9" (click)="selectState(9)">Portfolio</a>
    </div>
    <div class="save-cover">
      <button type="button" (click)="resetForm()" class="decline-btn">Reset</button>
      <button type="button" (click)="saveForm()" [disabled]="saveLoading" class="save-btn">
        {{ saveLoading ? 'Saving...' : 'Save' }}
      </button>
    </div>
  </div>
</div>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
