<div class="d-flex a-items-center" #notificationDropdown>
  <button type="button" class="print-btn">
    print your bambook
    <span class="icon i-print"></span>
  </button>
  <button type="button" (click)="notificationDropdownShow()" class="notification-btn">
    <span class="icon i-notification-bell"></span>
    <div *ngIf="notificationCount" class="notification-count">{{ notificationCount }}</div>
  </button>
  <div [hidden]="!showNotificationDropdown" class="notification-dropdown custom-scrollbar">
    <div *ngIf="!notifications; else notificationEmpty" class="notification-item">Loading...</div>
    <ng-template #notificationEmpty>
      <div *ngIf="notifications.length == 0; else notificationTemplate" class="notification-item">Notifications empty</div>
    </ng-template>
    <ng-template #notificationTemplate>
      <div *ngFor="let notification of notifications; let i = index" class="notification-item">
        <ng-container [ngSwitch]="notification.verb">
          <ng-container *ngSwitchCase="'add_friend_request'">
            <div class="request-info">
              <a [routerLink]="['/user/profile/', notification.actor.uuid]" (click)="closeNotificationDropdown()">
                <img [src]="notification.actor.avatar || noAvatar" class="request-avatar" />
              </a>
              <div class="friend-text">
                <div class="request-text">Friend request</div>
                <div class="request-user">{{ notification.actor.first_name }} {{ notification.actor.last_name }}</div>
              </div>
            </div>
            <div class="friend-actions">
              <button type="button" (click)="replyFriendRequest(notification.actor.uuid, false, i, $event)" class="decline-btn">Decline</button>
              <button type="button" (click)="replyFriendRequest(notification.actor.uuid, true, i, $event)" class="accept-btn">Accept</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'add_note_request'">
            <div class="request-info">
              <a [routerLink]="['/user/profile/', notification.actor.from_user.uuid]" (click)="closeNotificationDropdown()">
                <img [src]="notification.actor.from_user.avatar || noAvatar" class="request-avatar" />
              </a>
              <div class="friend-text">
                <div class="request-text">{{ notification.actor.name }}</div>
                <div class="request-user">{{ notification.actor.from_user.first_name }} {{ notification.actor.from_user.last_name }}</div>
                <div *ngIf="notification.actor.deadline" class="request-date">End: {{ notification.actor.deadline | date: 'dd.MM.yyyy' }}</div>
              </div>
            </div>
            <div *ngIf="notification.actor.is_request" class="friend-actions">
              <button type="button" (click)="replyNote(notification.actor.uuid, false, i, $event)" class="decline-btn">Decline</button>
              <button type="button" (click)="replyNote(notification.actor.uuid, true, i, $event)" class="accept-btn">Accept</button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
<button #userDropdown type="button" (click)="showDropdown()" class="user-dropdown-toggle">
  <img [src]="userProfile?.avatar || noAvatar" />
  {{ userProfile?.first_name }} {{ userProfile?.last_name }}
  <span class="icon i-slide-down"></span>
</button>
<div [hidden]="!showUserDropdown" class="user-dropdown">
  <button>Additional</button>
  <button>buttons</button>
  <button>to look</button>
  <button>prettier</button>
  <button (click)="logOut()">Log out</button>
</div>
