<div class="modal-header">
  <div class="header-flex-cover">
    Upload new photo
    <button type="button" (click)="close()" class="icon i-close"></button>
  </div>
</div>
<div class="modal-body">
  <div [hidden]="step == 2">
    <p>We support JPG, GIF or PNG files.</p>
    <label appDragDrop (onFileDropped)="fileDropped($event)">
      <input type="file" (change)="fileChanged($event)" id="upload-photo" />
      Drop or select file
    </label>
  </div>
  <div [hidden]="step == 1">
    <img [src]="picture" class="image-to-be-uploaded" />
    <div class="actions">
      <button type="button" (click)="back()" class="back-btn">Back</button>
      <button type="button" (click)="save()" class="save-btn">Save</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <p>If you have any problems with your upload, try using a smaller picture.</p>
</div>
