@import "src/styles/theming";

.modal-body {
  text-align: center;

  p {
    margin: 0 0 15px;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #687A92;
    background-color: map-get($gray-palette, 350);
    color: map-get($gray-palette, 450);
    height: 80px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;

    &.yes-drop {
      background-color: map-get($gray-palette, 200);
      font-size: 0;
      background-image: url("/assets/icons/cloud-upload.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    input[type=file] {
      display: none;
    }
  }

  .image-to-be-uploaded {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  .actions {
    button {
      padding: 5px 30px;
      border: none;
      border-radius: 60px;
      font-size: 13px;
      margin-top: 15px;
    }

    .back-btn {
      background-color: map-get($gray-palette, 350);
      color: map-get($gray-palette, 450);
    }

    .save-btn {
      margin-left: 15px;
      background-color: map-get($green-palette, 500);
      color: $white;
    }
  }
}
