@import "src/styles/theming";

.main-cover {
  display: flex;
  padding-top: 50px;

  .left-computers {
    width: 50%;
  }

  .gray-dash {
    width: 300px;
    border-bottom: 2px solid map-get($gray-palette, 300);
  }

  .right-cover {
    padding-top: 70px;
    max-width: 35%;

    .green-header {
      font-size: 24px;
      color: map-get($green-palette, 500);
      font-weight: 500;
    }

    .gray-large {
      margin: 10px 0;
      font-size: 48px;
      color: map-get($gray-palette, 600);
    }

    .gray-small {
      margin: 20px 0 40px;
      color: map-get($gray-palette, 500);
      font-weight: 500;
    }

    .auth-actions {
      a {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
      }

      .auth-sign-up {
        background-color: map-get($green-palette, 500);
        padding: 20px 30px;
        box-shadow: 0 9px 20px rgba(58, 182, 125, 0.4);
        color: $white;
      }

      .auth-sign-in {
        background-color: map-get($gray-palette, 50);
        padding: 20px 40px;
        margin-left: 20px;
        color: map-get($gray-palette, 150);
      }
    }
  }
}

.second-cover {
  display: flex;
  background-image: url("/assets/images/background-clock.png");
  background-repeat: no-repeat;
  background-position: 465px 205px;
  padding-bottom: 80px;

  .left-reviews {
    width: 50%;

    .user-review {
      width: 394px;
      margin: 112px 112px 0;
      background-color: $white;
      box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);
      border-radius: 20px;
      padding: 24px 24px 20px;

      .user-info {
        display: flex;
        align-items: center;

        .user-avatar {
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .user-name-work {
          margin-left: 24px;

          .user-name {
            color: map-get($gray-palette, 600);
          }

          .user-work {
            font-size: 13px;
            color: map-get($gray-palette, 500);
          }
        }
      }

      .user-quote {
        font-size: 14px;
        margin-top: 16px;
        color: map-get($gray-palette, 500);
        line-height: 20px;
      }
    }

    .review-toggles {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 130px;

      .review-toggle {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 2px solid map-get($green-palette, 500);
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 8px;
        }

        &.active {
          width: 14px;
          height: 14px;
          border: none;
          background-color: map-get($green-palette, 500);
        }
      }
    }
  }

  .right-steps {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 112px;

    .account-step {
      width: 30%;

      &.active {
        h6, p {
          color: map-get($gray-palette, 600);
        }

        .step-dash {
          background-color: map-get($gray-palette, 600);
        }
      }

      h6, p {
        color: map-get($gray-palette, 600);
        font-weight: 500;
        font-size: 16px;
        margin: 10px 0;
      }

      .step-dash {
        background-color: map-get($gray-palette, 500);
        width: 100%;
        height: 4px;
        border-radius: 10px;
      }
    }
  }
}

.mobile-application-block {
  background-image: url("/assets/images/right-confeti.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 300px;

  .applications-cover {
    margin: 0 112px;

    h2 {
      font-size: 48px;
      font-weight: 500;
      color: map-get($gray-palette, 600);
    }

    p {
      color: map-get($gray-palette, 500);
      font-weight: 500;
    }

    .download-apps {
      display: flex;

      a {
        display: block;
      }

      .ios-icon {
        margin-left: 12px;
      }
    }
  }
}

.inner-container {
  margin: 0 112px 0 112px;
}

.advantages-block {
  padding: 100px 0 0;
  position: relative;

  .mirror-image {
    position: absolute;
    top: 120px;
    z-index: -1;
    right: 0;
  }

  .exchange-image {
    position: absolute;
    bottom: -190px;
    z-index: -1;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    color: map-get($gray-palette, 600);
  }

  .advantages-cover {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0;

    .advantage-block {
      width: 22%;
      box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);
      border-radius: 20px;
      background-color: $white;

      img {
        display: block;
        margin: auto;
        padding-top: 40px;
      }

      h4 {
        color: map-get($gray-palette, 700);
        text-transform: uppercase;
        text-align: center;
        margin: 20px;
      }

      p {
        color: map-get($gray-palette, 500);
        margin: 30px;
        font-size: 16px;
      }

      .advantage-bottom {
        padding: 20px;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: map-get($green-palette, 500);

        &.active {
          background-color: map-get($green-palette, 500);
          color: $white;
        }
      }
    }
  }
}

.about-us-block {
  padding: 100px 0 96px;
  position: relative;

  .card-image {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 30px;
  }

  .graph-image {
    position: absolute;
    bottom: -135px;
    z-index: -1;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    color: map-get($gray-palette, 600);
  }

  .about-cover {
    z-index: 2;
    display: flex;
    width: 100%;
    box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);
    border-radius: 20px;
    background-color: $white;
    overflow: hidden;

    .about-left {
      width: 22%;
      padding: 40px;

      p {
        margin: 0;
        color: map-get($gray-palette, 400);

        &:not(:first-child) {
          margin-top: 25px;
        }

        &.active {
          color: map-get($gray-palette, 600);
        }
      }
    }

    .about-right {
      width: 78%;
    }
  }
}

.footer {
  background-color: map-get($green-palette, 700);
  height: 350px;
}
