<div class="container">
  <div class="main-cover">
    <img class="left-computers" src="/assets/images/landing-computers.jpg">
    <div class="right-cover">
      <div class="gray-dash"></div>
      <p class="green-header">Lorem Ipsum is simply</p>
      <h4 class="gray-large">Lorem ipsum is simply dummy text</h4>
      <p class="gray-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
      <div class="auth-actions">
        <a routerLink="/registration" class="auth-sign-up">Create your account</a>
        <a routerLink="/login" class="auth-sign-in">Log In</a>
      </div>
    </div>
  </div>
</div>
<div class="second-cover container">
  <div *ngIf="reviewers" class="left-reviews">
    <div class="user-review">
      <div class="user-info">
        <div class="user-avatar">
          <img [src]="reviewers[activeReviewer].avatar" />
        </div>
        <div class="user-name-work">
          <div class="user-name">{{ reviewers[activeReviewer].name }}</div>
          <div class="user-work">{{ reviewers[activeReviewer].work }}</div>
        </div>
      </div>
      <div class="user-quote">
        {{ reviewers[activeReviewer].quote }}
      </div>
    </div>
    <div class="review-toggles">
      <div *ngFor="let toggle of reviewers; let i = index" class="review-toggle" [class.active]="i == activeReviewer"
           (click)="setActiveReviewer(i)"></div>
    </div>
  </div>
  <div class="right-steps">
    <div class="account-step active">
      <div class="step-dash"></div>
      <h6>01.</h6>
      <p>Create your account on Bambook service</p>
    </div>
    <div class="account-step">
      <div class="step-dash"></div>
      <h6>02.</h6>
      <p>Fill in your profile and get the opportunity to create a company</p>
    </div>
    <div class="account-step">
      <div class="step-dash"></div>
      <h6>03.</h6>
      <p>Print out your company's bambook and use it as a document</p>
    </div>
  </div>
</div>
<div class="mobile-application-block container">
  <div class="applications-cover">
    <h2>Downloading Bambook for IOS<br> & Android</h2>
    <p>Install an app on your phone to easily create notes, chat, and manage<br> your company</p>
    <div class="download-apps">
      <a href="https://play.google.com/store" target="_blank"><img src="/assets/images/google-play.jpg" /></a>
      <a class="ios-icon" href="https://www.apple.com/ru/ios/app-store/" target="_blank"><img src="/assets/images/ios.png" /></a>
    </div>
  </div>
</div>
<div class="advantages-block container">
  <div class="inner-container">
    <h2>Advantages of the bambook service</h2>
    <div class="advantages-cover">
      <div *ngFor="let advantage of advantages; let i = index" class="advantage-block">
        <img [src]="advantage.image" />
        <h4>{{ advantage.name }}</h4>
        <p>{{ advantage.text }}</p>
        <div class="advantage-bottom" [class.active]="i == 0">
          What this?
        </div>
      </div>
    </div>
  </div>
  <img class="mirror-image" src="/assets/images/background-mirror.png" />
  <img class="exchange-image" src="/assets/images/background-exchange.png" />
</div>
<div class="about-us-block container">
  <div class="inner-container">
    <h2>Watch video about us</h2>
    <div class="about-cover">
      <div class="about-left">
        <p class="active">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
      </div>
      <div class="about-right">
        <iframe width="100%" height="100%" src="//www.youtube.com/embed/_zL0AAf-01I?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <img class="card-image" src="/assets/images/background-card.png" />
  <img class="graph-image" src="/assets/images/background-graph.png" />
</div>
<div class="footer"></div>
