@font-face {
  font-family: 'SF Pro Display';
  src: url("/assets/fonts/SFPro.ttf");
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("/assets/fonts/SFPro-semibold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("/assets/fonts/SFPro-heavy.ttf");
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url("/assets/fonts/Poppins.ttf");
}

@font-face {
  font-family: 'Google Sans';
  src: url("/assets/fonts/GoogleSans.ttf");
}

@font-face {
  font-family: 'Google Sans';
  src: url("/assets/fonts/GoogleSans-bold.ttf");
  font-weight: 500;
}
