.icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;

  &.i-print {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/print.svg");
  }

  &.i-marker-ok {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/marker-ok.svg");
  }

  &.i-profile {
    width: 15px;
    height: 15px;
    background-image: url("/assets/icons/profile-logo.svg");
  }

  &.i-logo {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/small-logo.svg");
  }

  &.i-settings {
    width: 15px;
    height: 15px;
    background-image: url("/assets/icons/settings-logo.svg");
  }

  &.i-paper {
    width: 14px;
    height: 14px;
    background-image: url("/assets/icons/paper-logo.svg");
  }

  &.i-tie {
    width: 15px;
    height: 15px;
    background-image: url("/assets/icons/tie-logo.svg");
  }

  &.i-help {
    width: 15px;
    height: 15px;
    background-image: url("/assets/icons/help-logo.svg");
  }

  &.i-plus {
    width: 12px;
    height: 12px;
    background-image: url("/assets/icons/add-plus.svg");
  }

  &.i-official {
    width: 13.5px;
    height: 13.5px;
    background-image: url("/assets/icons/official-logo.svg");
  }

  &.i-unofficial {
    width: 13.5px;
    height: 13.5px;
    background-image: url("/assets/icons/unofficial-logo.svg");
  }

  &.i-calendar {
    width: 18px;
    height: 19px;
    background-image: url("/assets/icons/calendar-logo.svg");
  }

  &.i-home {
    width: 14px;
    height: 16px;
    background-size: contain;
    background-image: url("/assets/icons/home-logo.svg");
  }

  &.i-archive {
    width: 14px;
    height: 14px;
    background-size: contain;
    background-image: url("/assets/icons/archive-logo.svg");
  }

  &.i-arrow-bottom {
    width: 10px;
    height: 6px;
    background-size: contain;
    background-image: url("/assets/icons/select-arrow-bottom.svg");
  }

  &.i-datepicker-left {
    width: 8px;
    height: 13px;
    background-size: contain;
    background-image: url("/assets/icons/datepicker-left-arrow.svg");
  }

  &.i-datepicker-right {
    width: 8px;
    height: 13px;
    background-size: contain;
    background-image: url("/assets/icons/datepicker-right-arrow.svg");
  }

  &.i-pencil {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("/assets/icons/pencil-edit.svg");
  }

  &.i-long-right-red {
    width: 25px;
    height: 9px;
    background-size: contain;
    background-position: center;
    background-image: url("/assets/icons/right-arrow-long-red.svg");
  }

  &.i-geo {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-image: url("/assets/icons/location.svg");
  }

  &.i-call {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/circle-call.svg");
  }

  &.i-whatsapp {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/circle-whatsapp.svg");
  }

  &.i-email {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/circle-email.svg");
  }

  &.i-facebook {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/circle-facebook.svg");
  }

  &.i-whale {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/whale-smile.svg");
  }

  &.i-worldwide {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/world-wide.svg");
  }

  &.i-share {
    width: 17px;
    height: 18px;
    background-image: url("/assets/icons/share-media.svg");
  }

  &.i-star {
    width: 12px;
    height: 12px;
    background-image: url("/assets/icons/rate-star.svg");
  }

  &.i-add-form {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/add-form-plus.svg");
  }

  &.i-red-cross {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/red-cross.svg");
  }

  &.i-gray-cross {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/gray-cross.svg");
  }

  &.i-chat-send {
    width: 18px;
    height: 15px;
    background-image: url("/assets/icons/chat-send.svg");
  }

  &.i-add-task {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/add-new-green.svg");
  }

  &.i-delete-form {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/decline.svg");
  }

  &.i-link-green {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/link-green.svg");
  }

  &.i-location-green {
    width: 16px;
    height: 19px;
    background-image: url("/assets/icons/location-green.svg");
  }

  &.i-close {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/close.svg");
  }

  &.i-pencil-paper-edit {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/pencil-paper-edit.svg");
  }

  &.i-slide-down {
    width: 9px;
    height: 8px;
    background-image: url("/assets/icons/slide-down.svg");
  }

  &.i-search-loupe {
    width: 18px;
    height: 18px;
    background-image: url("/assets/icons/search-loupe.svg");
  }

  &.i-notification-bell {
    width: 20px;
    height: 25px;
    background-image: url("/assets/icons/notification-bell.svg");
  }

  &.i-sent {
    width: 10px;
    height: 9px;
    background-image: url("/assets/icons/green-send.svg");
  }

  &.i-clock {
    width: 12px;
    height: 12px;
    background-image: url("/assets/icons/clock.svg");
  }

  &.i-accept {
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/accept.svg");
  }

  &.i-box-view {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/box-view-gray.svg");

    &.active {
      background-image: url("/assets/icons/box-view-green.svg");
    }
  }

  &.i-list-view {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/list-view-gray.svg");

    &.active {
      background-image: url("/assets/icons/list-view-green.svg");
    }
  }

  &.i-green-ok {
    width: 12px;
    height: 10px;
    background-image: url("/assets/icons/green-ok.svg");
  }

  &.i-cloud-upload {
    width: 30px;
    height: 27px;
    background-image: url("/assets/icons/cloud-upload.svg");
  }

  &.i-cloud-download {
    width: 30px;
    height: 27px;
    background-image: url("/assets/icons/cloud-download.svg");
  }

  &.i-plus-gray {
    width: 10px;
    height: 10px;
    background-image: url("/assets/icons/plus-gray.svg");
  }

  &.i-plus-green {
    width: 10px;
    height: 10px;
    background-image: url("/assets/icons/plus-green.svg");
  }

  &.i-write-pencil {
    width: 13px;
    height: 16px;
    background-image: url("/assets/icons/write-pencil.svg");
  }

  &.i-pin-file {
    width: 12px;
    height: 14px;
    background-image: url("/assets/icons/pin-file.svg");
  }

  &.i-dash-close {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/dash-close.svg");
  }

  &.i-select-bottom-green {
    width: 6px;
    height: 6px;
    background-image: url("/assets/icons/select-green-bottom.svg");
  }
}
