@import "src/styles/theming";
@import "src/styles/variables";

body {
  overflow-x: hidden;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loader {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 50px;
}

.container {
  max-width: 1440px;
  min-width: 1050px;
  margin: 0 auto;
}

.main-auth-cover {
  display: flex;
  width: 760px;
  margin: 20px auto 0;
  background-image: url("/assets/images/auth-background.jpg");
  background-size: cover;
  box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);
  border-radius: 20px;

  .left-cover {
    width: 50%;
    background-color: $white;
    padding: 30px;

    h2 {
      font-size: 36px;
      color: map-get($gray-palette, 800);
      font-family: 'SF Pro Display', serif;
      font-weight: 800;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin: 10px 0;
      color: map-get($gray-palette, 250);
    }

    form {
      padding-top: 15px;

      label {
        display: block;
        margin: 18px 0 0;

        &.checkbox-label {
          cursor: pointer;
          color: map-get($gray-palette, 600);
        }

        input[type=text], input[type=password] {
          border: 1px solid map-get($gray-palette, 250);
          width: 100%;
          padding: 10px;
          border-radius: 6px;

          &:focus {
            outline: none;
          }
        }
      }

      .forgot-cover {
        margin: 7px 0;
        text-align: end;

        a {
          color: map-get($gray-palette, 250);
          font-size: 14px;
          text-decoration: none;
        }
      }

      .auth-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        .auth-action-login {
          background: map-get($green-palette, 500);
          box-shadow: 0 9px 20px rgba(35, 215, 150, 0.4);
          border-radius: 10px;
          padding: 15px 50px;
          border: none;
          color: $white;
          text-align: center;
          cursor: pointer;

          &:disabled {
            background-color: map-get($gray-palette, 50);
            color: map-get($gray-palette, 150);
            box-shadow: none;
          }

          &.padding-small {
            white-space: nowrap;
            padding: 15px 35px;
          }

          &:focus {
            outline: none;
          }
        }

        a {
          display: block;
          border: none;
          cursor: pointer;
          background-color: map-get($gray-palette, 50);
          padding: 15px 50px;
          border-radius: 10px;
          color: map-get($gray-palette, 150);
          text-decoration: none;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .right-cover {
    width: 50%;

    .features-cover {
      width: 50%;
      margin: 80px auto 0;
    }

    h3 {
      color: $white;
      text-transform: uppercase;
      font-size: 22px;
      font-family: 'SF Pro Display', serif;
      font-weight: 800;
    }

    p {
      display: flex;
      align-items: center;
      color: $white;

      .i-marker-ok {
        margin-right: 10px;
      }
    }
  }
}

.main-divider {
  margin: 16px 0;
  height: 1px;
  width: 100%;
  background-color: map-get($gray-palette, 350);
}

app-auth {
  position: relative;
}

.big-circle {
  position: absolute;
  width: 128px;
  height: 128px;
  background-color: rgba(map-get($green-palette, 500), 0.2);
  border-radius: 50%;
  z-index: -5;

  &.first-circle {
    top: -130px;
    left: 825px;
  }

  &.second-circle {
    top: 70px;
    left: 200px;
  }

  &.third-circle {
    top: 415px;
    left: 480px;
  }

  &.fourth-circle {
    top: 600px;
    left: 1050px;
  }

  &.fifth-circle {
    top: 120px;
    left: 1310px;
  }
}

.medium-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: rgba(map-get($green-palette, 500), 0.2);
  border-radius: 50%;
  z-index: -5;

  &.first-circle {
    top: 50px;
    left: 550px;
  }

  &.second-circle {
    left: 250px;
  }

  &.third-circle {
    top: 700px;
    left: 730px;
  }

  &.fourth-circle {
    top: 500px;
    left: 1310px;
  }

  &.fifth-circle {
    top: 110px;
    left: 1050px;
  }
}

.small-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: rgba(map-get($green-palette, 500), 0.2);
  border-radius: 50%;
  z-index: -5;

  &.first-circle {
    top: 30px;
    left: 1310px;
  }

  &.second-circle {
    top: 430px;
    left: 300px;
  }

  &.third-circle {
    top: 650px;
    left: 500px;
  }

  &.fourth-circle {
    top: 800px;
    left: 1410px;
  }

  &.fifth-circle {
    top: 310px;
    left: 1600px;
  }
}

.is-error {
  font-size: 14px;
  color: map-get($red-palette, 500);
  text-align: start;
}

.main-right-user-cover {
  display: flex;
  padding: 14px;
}

.edit-cover {
  .edit-block {
    app-select, app-datepicker {
      position: relative;

      input {
        width: 320px;
        height: 34px;
        border: 1px solid map-get($gray-palette, 350);
        padding: 6px 10px;
        border-radius: 8px;
        color: map-get($gray-palette, 850);

        &:focus {
          outline: none;
          border: 1px solid map-get($gray-palette, 450);
        }
      }
    }
  }
}

app-layout {
  * {
    font-family: 'Google Sans', serif;
  }
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
}

.modal-header {
  padding: 15px 25px;
  background-color: map-get($gray-palette, 50);
  color: map-get($gray-palette, 450);

  .header-flex-cover {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border: none;
      background-color: transparent;
    }
  }
}

.modal-body {
  padding: 25px;
  color: map-get($gray-palette, 450);
}

.modal-footer {
  padding: 10px 25px;
  background-color: map-get($gray-palette, 50);

  p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: map-get($gray-palette, 450);
  }
}

.cdk-global-overlay-wrapper {
  .cdk-overlay-pane {
    margin-top: -130px;
  }
}

.main-header-right-cover {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

input[type=text].ng-invalid.ng-touched {
  border: 1px solid map-get($red-palette, 500) !important;
}

.header-right-cover app-header-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .print-btn {
    display: flex;
    align-items: center;
    color: map-get($gray-palette, 350);
    background-color: transparent;
    border: none;
    margin-right: 20px;

    .icon {
      margin-left: 15px;
    }
  }

  .notification-btn {
    border: none;
    background-color: transparent;
    margin-right: 5px;
    display: flex;
    align-items: center;

    .notification-count {
      margin-left: 7px;
      padding: 4px 0;
      background: map-get($green-palette, 500);
      border-radius: 13px;
      width: 34px;
      color: white;
    }
  }

  .user-dropdown {
    right: -20px;
  }

  .notification-dropdown {
    right: 85px;
  }

  .user-dropdown {
    position: absolute;
    z-index: 5;
    background-color: $white;
    border-radius: 10px;
    width: 180px;
    overflow: hidden;
    top: 55px;
    box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);

    button {
      display: block;
      background-color: transparent;
      border: none;
      width: 100%;
      padding: 5px 0;
      color: map-get($gray-palette, 450);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .notification-dropdown {
    position: absolute;
    z-index: 5;
    background-color: $white;
    border-radius: 10px;
    width: 300px;
    overflow: auto;
    max-height: 380px;
    top: 55px;
    box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);

    .notification-item {
      padding: 10px 20px;
      font-size: 14px;
      border-bottom: 1px solid map-get($gray-palette, 200);

      .request-info {
        display: flex;

        .request-avatar {
          width: 36px;
          height: 36px;
          object-fit: cover;
          border-radius: 50%;
        }

        .friend-text {
          margin-left: 10px;

          .request-text {
            font-size: 13px;
            color: map-get($gray-palette, 450);
            font-weight: 500;
          }

          .request-user {
            font-size: 12px;
            color: map-get($gray-palette, 450);
          }

          .request-date {
            font-size: 10px;
            color: map-get($red-palette, 400);
            font-weight: 500;
          }
        }
      }

      .friend-actions {
        margin-top: 10px;

        button {
          border: none;
          color: $white;
          border-radius: 25px;
          padding: 6px 15px;
          font-size: 12px;
        }
        .decline-btn {
          background-color: map-get($red-palette, 400);
        }

        .accept-btn {
          background-color: map-get($green-palette, 500);
          margin-left: 10px;
        }
      }
    }
  }

  .user-dropdown-toggle {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: map-get($gray-palette, 450);
    font-weight: 500;

    img {
      margin-right: 10px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      margin-left: 10px;
    }
  }
}

.no-length {
  margin-top: 15px;
  color: map-get($gray-palette, 350);
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: map-get($gray-palette, 350);
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($gray-palette, 450);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: map-get($gray-palette, 650);
  }
}

.create-business {
  width: 660px;
  margin: 0 auto;

  &.more-width {
    width: 760px;
  }

  &.with-upload {
    width: 50vw;
    margin: auto;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      margin-top: 30px;
      cursor: pointer;
      border: 2px dashed map-get($gray-palette, 450);
      border-radius: 20px;
      background-color: map-get($gray-palette, 350);
      color: map-get($gray-palette, 450);

      &.yes-drop {
        background-color: map-get($gray-palette, 200);
      }

      .icon {
        margin-right: 15px;
      }

      input[type=file] {
        display: none;
      }
    }
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: map-get($gray-palette, 450);
  }

  .flex-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      flex: 1 1 40%;
      max-width: 290px;
      display: block;
      margin-top: 14px;

      &.no-margin-top {
        margin-top: 0;
      }

      input {
        width: 100%;
        padding: 8px 13px;
        border: 1px solid map-get($gray-palette, 250);
        border-radius: 6px;

        &::placeholder {
          color: map-get($gray-palette, 250);
        }
      }
    }
  }

  .multiple-form {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .form-name {
      width: 320px;
      padding: 4px 13px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid map-get($green-palette, 450);

      &::placeholder {
        color: map-get($gray-palette, 450);
      }
    }

    .form-contacts {
      width: 230px;
      padding: 4px 13px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid map-get($green-palette, 450);
      margin-left: 10px;
    }

    label {
      display: flex;
      align-items: center;
      margin-left: 30px;
      cursor: pointer;
      font-size: 14px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
      max-width: 180px;
      width: 180px;
      overflow: hidden;

      .file-name {
        max-width: 120px;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      input[type=file] {
        display: none;

        &.has-error + .upload-file + .file-name {
          color: map-get($red-palette, 500);
        }
      }

      .upload-file {
        min-width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        border: 1px dashed map-get($gray-palette, 450);
        background-color: map-get($gray-palette, 350);
        margin-right: 15px;

        .icon {
          pointer-events: none;

          &.i-cloud-upload {
            display: none;
          }
        }

        &.yes-drop {
          background-color: map-get($gray-palette, 200);

          .i-plus-gray {
            display: none;
          }

          .i-cloud-upload {
            display: inline-block;
          }
        }
      }
    }

    .i-delete-form {
      border: none;
      background-color: transparent;
      margin-left: 15px;
    }
  }

  .add-new-form {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: map-get($green-palette, 500);
    font-weight: 500;
    margin-top: 25px;

    .icon {
      margin-right: 20px;
    }
  }

  .two-actions {
    width: fit-content;
    margin: 25px auto 0;

    button, a {
      padding: 6px 29px;
      border: none;
      border-radius: 30px;
      font-size: 13px;
      text-decoration: none;
    }

    .back-btn {
      background-color: map-get($gray-palette, 350);
      color: map-get($gray-palette, 450);
    }

    .next-btn {
      color: $white;
      background-color: map-get($green-palette, 500);
      margin-left: 10px;
    }
  }
}

.my-load-files {
  margin: 30px 30px 20px;
  font-weight: 500;
  font-size: 14px;
  color: map-get($gray-palette, 450);
}

.business-files-cover {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;

  .file-cover {
    position: relative;
    text-align: center;
    margin: 10px;

    &:hover {
      .i-delete-form, .i-cloud-download {
        display: inline-block;
      }
    }

    .file-name {
      font-size: 14px;
      color: map-get($gray-palette, 450);
      max-width: 80px;
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }

    .i-delete-form {
      display: none;
      opacity: 0.8;
      position: absolute;
      border: none;
      background-color: transparent;
      top: -10px;
      right: 3px;
      width: 19px;
      height: 19px;
      margin: auto;
    }

    .i-cloud-download {
      display: none;
      background-color: rgba($white, 0.8);
      border-radius: 50%;
      position: absolute;
      border: none;
      margin: auto;
      width: 40px;
      height: 40px;
      top: 17px;
      right: 0;
      left: 0;
    }
  }
}

.filter-cover .filter-left app-bare-select.green-value .select-cover .main-btn .current-value {
  color: map-get($green-palette, 500);
  font-size: 13px;
}

app-datepicker.bare {
  .icon.i-calendar {
    right: unset;
    left: 4px;
    width: 86px;
    background-size: contain;
    height: 15px;
    top: 2px
  }

  .date-picker-cover {
    right: -150px;
  }

  input[type=text] {
    border: none;
    margin-left: 22px;
    pointer-events: none;
    background-color: transparent;
    width: 86px;
    color: map-get($gray-palette, 450);

    &::placeholder {
      color: map-get($gray-palette, 450);
    }
  }

  &.filter-width {
    .icon.i-calendar {
      width: 80px;
    }

    input[type=text] {
      width: 80px;
      font-size: 13px;
    }
  }
}

app-layout {
  display: block;
  padding: 14px;
}

.main-right-user-cover {
  .left-cover {
    .profile-left-top-cover {
      height: 290px;
      display: flex;

      .profile-info-cover {
        background-color: $white;
        box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
        padding: 15px;
        border-radius: 4px;
        position: relative;

        img {
          width: 200px;
          height: 200px;
          border-radius: 4px;
          object-fit: cover;
        }

        .avatar-change-cover {
          position: absolute;
          height: 200px;
          width: 200px;
          overflow: hidden;

          &.loading-avatar {
            background-image: url("/assets/gifs/loader.gif");
            background-size: 50px 50px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: map-get($gray-palette, 200);
          }

          &:hover {
            .avatar-change {
              bottom: 0;
            }
          }

          .avatar-change {
            position: absolute;
            transition: 0.5s;
            bottom: -30px;
            background-color: rgba(map-get($gray-palette, 650), 0.7);
            width: 100%;
            padding: 5px 10px;

            button {
              background-color: transparent;
              border: none;
              color: $white;
              display: flex;
              align-items: center;

              span {
                margin-right: 5px;
              }
            }
          }
        }

        .edit-profile {
          background-color: map-get($gray-palette, 550);
          color: map-get($gray-palette, 450);
          padding: 15px 0;
          width: 100%;
          margin-top: 10px;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          text-decoration: none;
          display: block;
          border: none;
        }

        a, button {
          &.edit-profile {
            &:hover {
              background-color: map-get($gray-palette, 350);
            }
          }
        }
      }

      .bambook-progress-cover {
        margin-left: 14px;
        border-radius: 4px;
        background-color: $white;
        padding: 15px 15px 10px;
        box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
        position: relative;

        img {
          height: 229px;
          position: absolute;

          z-index: 5;
        }

        .progress-fill-cover {
          width: 45px;
          height: 229px;
          position: relative;

          .progress-fill {
            border-radius: 15px;
            bottom: 0;
            height: 0;
            transition: 1s, background-color .2s;
            width: 100%;
            position: absolute;
            background-color: map-get($black-palette, 600);

            &.medium-color {
              background-color: map-get($orange-palette, 500);
            }

            &.high-color {
              background-color: map-get($green-palette, 500);
            }
          }
        }

        .progress-percentage {
          margin: 15px 0 0;
          text-align: center;
          font-size: 11px;
          font-weight: 500;
          color: map-get($black-palette, 600);

          &.medium-color {
            color: map-get($orange-palette, 500);
          }

          &.high-color {
            color: map-get($green-palette, 500);
          }
        }
      }
    }

    .add-cover {
      display: flex;
      border: none;
      background-color: transparent;
      margin-top: 20px;
      align-items: center;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      color: map-get($gray-palette, 450);

      &:hover {
        text-decoration: underline;
      }

      div {
        margin-left: 16px;
        font-size: 12px;
      }
    }
  }

  .news-cover {
    padding: 15px;
    background-color: $white;
    box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
    border-radius: 4px;
    margin-top: 14px;
    width: 320px;

    .new-item {
      margin-top: 20px;

      .new-item-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .new-top-left {
          display: flex;
          align-items: center;

          .new-top-left-word {
            .new-left-company {
              color: map-get($green-palette, 500);
              font-size: 10px;
            }

            .new-left-user {
              color: map-get($gray-palette, 450);
              font-size: 14px;
            }
          }

          img {
            width: 42px;
            height: 42px;
            border-radius: 10px;
            object-fit: cover;
            margin-right: 10px;
          }
        }

        .new-top-right {
          color: map-get($green-palette, 500);
          font-size: 10px;
        }
      }

      .new-description {
        margin-top: 10px;
        font-size: 11px;
        color: map-get($gray-palette, 450);
      }
    }
  }

  .create-cover {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: none;
    background-color: transparent;
    padding: 0;

    .text-flex {
      display: flex;

      p {
        font-size: 13px;
        margin: 0;
        color: map-get($gray-palette, 450);
        font-weight: 500;
      }

      .count {
        font-size: 13px;
        color: map-get($gray-palette, 450);
        margin-left: 15px;
        font-weight: 500;
      }
    }

    .show-all {
      font-size: 13px;
      color: map-get($gray-palette, 350);
    }
  }

  .right-cover {
    margin-left: 14px;

    .notes-cover {
      margin-top: 14px;
      width: 28vw;
      box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
      padding: 15px 30px;
      background-color: $white;

      .note-item-cover {
        margin-top: 15px;
        background-color: $background-gray;
        padding: 15px;
        border-radius: 4px;

        .note-top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .note-name {
            font-weight: 500;
            font-size: 14px;
            color: map-get($gray-palette, 450);
          }

          .note-date {
            font-size: 10px;
            color: map-get($gray-palette, 450);
          }
        }

        .note-description {
          font-size: 11px;
          color: map-get($gray-palette, 450);
        }

        .note-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .note-bottom-left {
            display: flex;

            .note-sent {
              font-size: 10px;
              color: map-get($green-palette, 500);
            }
            .note-from {
              font-size: 10px;
              margin-left: 10px;
              display: flex;
              align-items: center;

              img {
                width: 12px;
                height: 12px;
                margin-right: 5px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
          }

          .note-bottom-right {
            display: flex;
            font-size: 10px;
            color: map-get($gray-palette, 450);

            span {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .right-flex {
      display: flex;
    }

    .user-profile-info {
      background-color: $white;
      box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
      padding: 15px 30px;
      height: 290px;
      border-radius: 4px;
      width: 28vw;

      .user-name-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-name {
          font-size: 18px;
          color: map-get($gray-palette, 450);
        }
      }

      .digital-card {
        display: block;
        margin: 35px 0 0;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        padding: 14px 0;
        border-radius: 4px;
        width: 100%;
        background-color: map-get($gray-palette, 550);
        color: map-get($gray-palette, 450);

        &:hover {
          background-color: map-get($gray-palette, 350);
        }
      }
    }

    .key-value-cover {
      .key-value {
        display: flex;
        margin-top: 20px;

        .key-cover {
          width: 23%;
        }

        .key-cover, .value-cover {
          font-weight: 400;
          font-size: 13px;
          color: map-get($gray-palette, 450);
          white-space: nowrap;
        }
      }
    }

    .dash-divider {
      width: 100%;
      height: 1px;
      background-color: map-get($gray-palette, 350);
      margin: 11px 0;
    }

    .contacts-list {
      height: fit-content;
      margin-left: 15px;
      padding: 15px 10px;
      background-color: $white;
      box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
      width: 220px;

      h5 {
        margin: 0 0 0 11px;
        font-size: 13px;
        color: map-get($gray-palette, 450);
      }

      .friends-cover {
        display: flex;
        flex-wrap: wrap;

        .friend-item {
          display: block;
          flex: 1 1 30%;
          max-width: 33%;
          text-align: center;
          text-decoration: none;
          margin-top: 10px;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }

          p {
            margin: 0;
            font-size: 13px;
            color: map-get($gray-palette, 450);
          }
        }
      }
    }
  }
}

.note-color {
  border-left-width: 8px;
  border-left-style: solid;

  &.medium-left {
    border-left-width: 15px;
  }

  &.priority-0 {
    border-left-color: map-get($green-palette, 500);
  }

  &.priority-1 {
    border-left-color: map-get($gray-palette, 350);
  }

  &.priority-2 {
    border-left-color: map-get($yellow-palette, 500);
  }

  &.priority-3 {
    border-left-color: map-get($red-palette, 400);
  }
}

.box-tick {
  width: 18px;
  height: 18px;
  border-radius: 0 3px 3px 0;
  margin-right: 10px;

  &.priority-0 {
    background-color: map-get($green-palette, 500);
  }

  &.priority-1 {
    background-color: map-get($gray-palette, 350);
  }

  &.priority-2 {
    background-color: map-get($yellow-palette, 500);
  }

  &.priority-3 {
    background-color: map-get($red-palette, 400);
  }
}

.create-note-cover {
  width: 622px;
  position: absolute;
  background: $white;
  box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
  border-radius: 4px;
  right: 0;
  padding: 30px;

  .edit-cover {
    display: flex;
    align-items: center;
    padding: 9px 0;

    input[type=radio], input[type=checkbox] {
      display: none;

      &:checked + .note-checkbox-label {
        &:after {
          top: 1px;
          content: "";
          left: 1px;
          display: block;
          border-bottom: 2px solid map-get($gray-palette, 450);
          border-left: 2px solid map-get($gray-palette, 450);
          width: 6px;
          height: 3px;
          transform: rotate(-50deg);
          position: absolute;
        }
      }
    }

    .note-checkbox-label {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1.5px solid map-get($gray-palette, 450);
      cursor: pointer;
      border-radius: 2px;
      position: relative;
    }

    &.tags-cover {
      label {
        width: 100%;

        input {
          width: 100%;
          padding: 3px 5px;
          border: none;
          border-bottom: 1px solid map-get($gray-palette, 350);
          outline: none;
        }
      }
    }

    &.sender-cover {
      margin-top: 15px;
    }

    &.priority-cover {
      input {
        display: none;

        &:checked + label {
          background-color: map-get($gray-palette, 200);
        }
      }

      .urgency {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 11px;
        color: map-get($gray-palette, 450);
        font-weight: 500;
        cursor: pointer;

        &.with-minus-margin {
          margin-left: -6px;
        }

        .circle {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 6px;

          &.no-prior {
            background-color: map-get($green-palette, 500);
          }

          &.not-urg {
            background-color: map-get($gray-palette, 350);
          }

          &.urg {
            background-color: map-get($yellow-palette, 500);
          }

          &.very-urg {
            background-color: map-get($red-palette, 500);
          }
        }
      }
    }

    .edit-key {
      width: 60px;
      font-size: 11px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
    }
  }

  .additional-info {
    margin-top: 15px;

    textarea {
      width: 100%;
      min-height: 80px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid map-get($gray-palette, 450);
    }
  }

  .note-header {
    display: flex;
    align-items: center;

    .is-error {
      margin-left: 15px;
      font-size: 14px;
    }

    .note-header-left {
      display: flex;
      align-items: center;

      input {
        border: 1px solid map-get($gray-palette, 450);
        padding: 3px 5px;
        border-radius: 4px;
      }

      .note-name {
        font-size: 18px;
        font-weight: 500;
        color: map-get($gray-palette, 450);
      }

      button {
        margin-left: 10px;
        background-color: transparent;
        border: none;
        vertical-align: middle;
      }
    }

    .i-dash-close {
      margin-left: auto;
      background-color: transparent;
      border: none;
    }
  }

  .note-additional-info-cover {
    display: flex;
    align-items: center;
    position: relative;

    app-datepicker {
      position: relative;
    }

    .choose-cover {
      border: none;
      background-color: transparent;
      color: map-get($gray-palette, 450);
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
      }
    }

    .dropdown-add-cover {
      position: absolute;
      background-color: $white;
      box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
      padding: 20px 22px;
      border-radius: 20px;
      width: 288px;
      top: 25px;

      .add-user-head {
        font-size: 13px;
        font-weight: 500;
        color: map-get($gray-palette, 450);
      }

      &.add-file-cover {
        left: 140px;

        .item-name {
          width: 50%;
          max-width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 500;
          color: map-get($gray-palette, 450);
          font-size: 13px;
        }

        .drag-drop-cover {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          background-color: map-get($gray-palette, 350);
          color: map-get($gray-palette, 450);
          border-radius: 4px;
          border: 1px dashed map-get($gray-palette, 450);
          font-size: 13px;
          font-weight: 500;
          margin: 15px 0 25px;
          height: 80px;
          cursor: pointer;

          &.yes-drop {
            background-color: map-get($gray-palette, 200);
            font-size: 0;
            background-image: url("/assets/icons/cloud-upload.svg");
            background-position: center;
            background-repeat: no-repeat;
          }

          input[type=file] {
            display: none;
          }
        }

        .add-file-files {
          max-height: 190px;
          overflow-y: auto;

          .add-file-item {
            display: flex;
            align-items: center;
            padding-right: 10px;

            &:not(:first-child) {
              margin-top: 7px;
            }

            .file-item-size {
              margin-left: 35px;
              color: map-get($gray-palette, 350);
              font-size: 10px;
              font-weight: 500;
            }

            button {
              margin-left: auto;
              border: none;
              background-color: transparent;
              width: 12px;
              height: 12px;
            }
          }
        }
      }

      &.add-user-cover {
        left: 30px;

        input[type=text] {
          background-color: map-get($gray-palette, 350);
          border: none;
          border-radius: 20px;
          margin: 10px 0 15px;
          width: 100%;
          padding: 6px 16px;

          &:focus {
            outline: none;
            padding: 5px 15px;
            border: 1px solid map-get($gray-palette, 450);
            background-color: $white;
          }

          &::placeholder {
            color: map-get($gray-palette, 450);
          }
        }

        .add-user-users {
          max-height: 190px;
          overflow-y: auto;

          .add-user-item {
            display: flex;
            align-items: center;
            padding-right: 10px;

            &:not(:first-child) {
              margin-top: 10px;
            }

            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
              border-radius: 50%;
            }

            .user-item-name {
              margin-left: 16px;
            }

            button {
              background-color: transparent;
              border: none;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  .two-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    button {
      padding: 5px 23px;
      border-radius: 30px;
      border: none;
    }

    .save-btn {
      background-color: map-get($green-palette, 500);
      color: $white;
      font-weight: 500;
      margin-left: 10px;

      &:disabled {
        pointer-events: none;
      }
    }

    .cancel-btn {
      background-color: map-get($gray-palette, 200);
      color: map-get($gray-palette, 450);
      font-weight: 500;
    }
  }
}

.notes-cover {
  padding: 40px 30px;

  .show-more {
    margin: 20px auto 0;
    display: block;
    border-radius: 4px;
    background-color: map-get($gray-palette, 200);
    color: map-get($gray-palette, 450);
    border: none;
    padding: 8px 15px;

    &:hover {
      background-color: map-get($gray-palette, 350);
    }
  }
}

.filter-cover {
  display: flex;
  justify-content: space-between;

  .filter-left {
    display: flex;
    align-items: center;
    width: 66%;

    .filter-word {
      font-weight: 500;
      font-size: 13px;
      color: map-get($gray-palette, 450);
    }

    .filter-sort {
      display: flex;
      align-items: center;
    }

    .sort-sort {
      display: flex;
      align-items: center;
      margin-left: 30px;
    }

    .date-sort {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  .filter-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;

    .absolute-note {
      position: absolute;
      top: 60px;
      right: 0;
    }

    .fixed-note {
      position: fixed;
      right: 30px;
      top: 15vh;
    }

    .view-choices {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: map-get($gray-palette, 500);
      font-weight: 500;

      button {
        border: none;
        background-color: transparent;
        margin: 0 5px;
      }
    }

    .add-new-note {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      font-size: 14px;
      color: map-get($green-palette, 500);
      font-weight: 500;

      &.stop-adding {
        color: map-get($gray-palette, 450);
      }

      span {
        margin-right: 5px;
      }
    }
  }
}

.task-item-cover {
  margin-top: 40px;

  .task-item {
    display: flex;
    background-color: $white;
    box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
    border-radius: 4px;
    align-items: center;
    padding: 12px 15px;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: rgba($white, 0.4);
    }

    &:not(:first-child) {
      margin-top: 14px;
    }

    * {
      white-space: nowrap;
    }

    .task-name {
      font-size: 14px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
      max-width: 15%;
      width: 15%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }

    .task-description {
      max-width: 310px;
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 15px;
      font-size: 11px;
      color: map-get($gray-palette, 450);
    }

    .task-date {
      font-size: 11px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
      margin-left: 15px;
    }

    .task-actions {
      display: flex;
      margin-left: 15px;
    }

    .task-deadline {
      display: flex;
      align-items: center;
      font-size: 11px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
      margin-left: 15px;

      .icon {
        margin-right: 10px;
      }

      .task-deadline-date {
        margin-left: 10px;
      }
    }
  }

  &.for-box {
    display: flex;
    flex-wrap: wrap;

    .box-item {
      display: block;
      flex: 1 1 21%;
      max-width: 24%;
      background-color: $white;
      box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
      border-radius: 4px;
      padding: 15px 0;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: rgba($white, 0.4);
      }

      &:not(:nth-child(4n + 1)) {
        margin-left: 15px;
      }

      .box-date {
        font-size: 11px;
        padding: 0 15px;
        color: map-get($gray-palette, 450);
      }

      .box-name {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: map-get($gray-palette, 450);
        margin-top: 10px;
        font-weight: 500;
      }

      .box-bottom {
        padding: 15px 15px 0;

        .box-description {
          font-size: 11px;
          color: map-get($gray-palette, 450);
          max-height: 30px;
          overflow: hidden;
        }

        .box-info {
          display: flex;
          align-items: center;
          margin-top: 14px;

          .box-sent {
            font-size: 11px;
            color: map-get($green-palette, 500);
          }

          .box-author {
            margin-left: 15px;
            font-size: 11px;
            color: map-get($gray-palette, 450);
            text-decoration: none;
            display: flex;
            align-items: center;

            img {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 5px;
            }
          }
        }

        .box-actions {
          display: flex;
          justify-content: space-between;
          margin-top: 25px;

          .action-btn {
            padding: 0;
          }
        }

        .box-deadline {
          display: flex;
          align-items: center;
          font-size: 11px;
          color: map-get($gray-palette, 450);
          font-weight: 500;
          margin-top: 15px;

          .icon {
            margin-right: 10px;
          }

          .box-deadline-date {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;

  .task-sent {
    color: map-get($green-palette, 500);
    font-size: 11px;
  }

  .task-author {
    display: flex;
    align-items: center;
    color: map-get($gray-palette, 450);
    text-decoration: none;
    font-size: 11px;
    margin-left: 10px;

    img {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
  }
}

.action-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;

  &.accept-btn {
    color: map-get($green-palette, 500);
  }

  &.decline-btn {
    color: map-get($red-palette, 500);
  }

  span {
    margin-right: 5px;
  }
}
