$white: #FFFFFF;
$black: #0C2031;
$background-gray: #F5F6F8;

$yellow-palette: (
  500: #F2C94C
);

$blue-palette: (
  500: #2F80ED
);

$orange-palette: (
  500: #F2994A
);

$black-palette: (
  300: #323C47,
  400: #4F4F4F,
  500: #333333,
  600: #474F59
);

$green-palette: (
  100: #E9EBED,
  300: #ADB952,
  400: #A2E494,
  500: #3AB67D,
  600: #13714C,
  700: #5B8F7D
);

$gray-palette: (
  50:  #F0F0F0,
  100: #DBDBDB,
  150: #BDBDBD,
  200: #E9E8F0,
  250: #AEB4DD,
  300: #D5D9DC,
  310: #E4E9EF,
  350: #C2CFE0,
  400: #D2D1DC,
  450: #687A92,
  500: #8A879D,
  550: #E1E7F0,
  600: #65617B,
  650: #4C5862,
  700: #2A3A59,
  750: #90A0B7,
  800: #524C6F,
  850: #334D6E
);

$red-palette: (
  400: #EB5757,
  500: #D0021B,
);
