@import "src/styles/theming";

.m-t-15 {
  margin-top: 15px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.a-items-center {
  align-items: center !important;
}

.position-relative {
  position: relative !important;
}
