<div class="main-right-user-cover">
  <div class="left-cover">
    <div class="profile-left-top-cover">
      <div class="profile-info-cover">
        <div class="avatar-change-cover" [class.loading-avatar]="loadingAvatar">
          <div *ngIf="userProfile?.is_me" class="avatar-change">
            <button type="button" (click)="changeAvatar()">
              <span class="icon i-pencil"></span>
              Change avatar
            </button>
          </div>
        </div>
        <img [src]="userProfile?.avatar" (load)="avatarLoaded()" (error)="erroredAvatar()" />
        <ng-container [ngSwitch]="currentStatus">
          <a *ngSwitchCase="'me'" routerLink="/user/profile/edit" class="edit-profile">Edit my profile</a>
          <p *ngSwitchCase="'friend'" class="edit-profile">You're friends</p>
          <p *ngSwitchCase="'request'" class="edit-profile">Request sent</p>
          <button *ngSwitchCase="'add_friend'" type="button" (click)="addToFriends()" class="edit-profile">Add to friends</button>
        </ng-container>
      </div>
      <div *ngIf="userProfile?.is_me" class="bambook-progress-cover">
        <img src="/assets/images/not-bambook.svg" />
        <div class="progress-fill-cover">
          <div id="progress-fill" class="progress-fill"></div>
        </div>
        <p id="progress-percentage" class="progress-percentage">{{ percentage }} %</p>
      </div>
    </div>
    <div *ngIf="userProfile?.is_me" class="news-cover">
      <div class="create-cover">
        <div class="text-flex">
          <p>News</p>
          <div class="count">0</div>
        </div>
        <a class="show-all">All</a>
      </div>
<!--      <div class="new-item">-->
<!--        <div class="new-item-top">-->
<!--          <div class="new-top-left">-->
<!--            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/rick-sanchez-1-563922.png" />-->
<!--            <div class="new-top-left-word">-->
<!--              <div class="new-left-company">Bambook LTD</div>-->
<!--              <div class="new-left-user">Lobykin Yuiriy</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="new-top-right">-->
<!--            Today - 11:00-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="new-description">-->
<!--          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="right-cover">
    <div class="right-flex">
      <div class="user-profile-info">
        <div class="user-name-info">
          <div class="user-name">{{ userProfile?.first_name }} {{ userProfile?.last_name }}</div>
          <span class="icon i-official"></span>
        </div>
        <div class="dash-divider"></div>
        <div class="key-value-cover">
          <div class="key-value">
            <div class="key-cover">
              Telephone:
            </div>
            <div class="value-cover">
              {{ userProfile?.phone }}
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              E-mail:
            </div>
            <div class="value-cover">
              {{ userProfile?.email || '-' }}
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              ID:
            </div>
            <div class="value-cover">
              {{ userProfile?.uuid }}
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              Address:
            </div>
            <div class="value-cover">
              {{ userProfile?.country?.name && userProfile?.city?.name ? userProfile?.country?.name + ', ' + userProfile?.city?.name : '-' }}
            </div>
          </div>
        </div>
        <a [routerLink]="['/landing/user/', userProfile?.uuid]" class="digital-card">B-Digital Card</a>
      </div>
      <div class="contacts-list">
        <h5>Contacts</h5>
        <div class="friends-cover">
          <a *ngFor="let friend of friends" class="friend-item" [routerLink]="['/user/profile/', friend.uuid]">
            <img [src]="friend.avatar || noAvatar" />
            <p class="friend-name">{{ friend.first_name }}</p>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="userProfile?.is_me" class="notes-cover">
      <div class="create-cover no-padding">
        <div class="text-flex">
          <p>Notes</p>
          <div class="count">{{ notePagination?.results.length }}</div>
        </div>
        <a routerLink="/user/notes" class="show-all">All</a>
      </div>
      <div *ngFor="let note of notePagination?.results" class="note-item-cover note-color" [ngClass]="'priority-' + note.priority">
        <div class="note-top">
          <div class="note-name">{{ note.name }}</div>
          <div class="note-date">{{ note.created_at | date: 'dd MMM, yyyy' }}</div>
        </div>
        <p class="note-description">{{ note.text }}</p>
        <div class="note-bottom">
          <div class="note-bottom-left">
            <div class="note-sent">
              <span class="icon i-sent"></span>
              Send by
            </div>
            <div class="note-from">
              <img [src]="note.from_user.avatar || noAvatarSmall" />
              {{ note.from_user.first_name }} {{ note.from_user.last_name }}
            </div>
          </div>
          <div *ngIf="note.deadline" class="note-bottom-right">
            <span class="icon i-clock"></span>
            Completion {{ note.deadline | date: 'dd MMM, yyyy' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
