@import "src/styles/theming";

.i-calendar {
  position: absolute;
  right: 13px;
  top: 1px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.date-picker-cover {
  position: absolute;
  background-color: $white;
  width: 288px;
  right: 25px;
  margin-top: 8px;
  z-index: 6;
  box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
  border-radius: 20px;

  &.on-top {
    top: -320px;
  }

  .date-picker-inner {
    padding: 30px 30px 20px;

    .month-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      button {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }

      .month-word {
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: map-get($gray-palette, 450);
        background-image: url("/assets/icons/select-arrow-bottom.svg");
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 15px;
      }
    }

    .days-cover {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .day-item {
        flex: 1 1 14%;
        max-width: 14%;
        height: 30px;
        margin-top: 5px;
        font-size: 12px;
        color: map-get($gray-palette, 450);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;

        &.empty-date {
          pointer-events: none;
          color: map-get($gray-palette, 200);
        }

        &:hover {
          &:not(.week-word):not(.selected) {
            background-color: map-get($gray-palette, 200);
          }

          &:not(.week-word) {
            cursor: pointer;
          }
        }

        &.red {
          color: map-get($red-palette, 400);
        }

        &.selected {
          background-color: map-get($gray-palette, 350);
        }
      }
    }

    .years-cover, .months-cover {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      justify-content: space-between;

      .year-item, .month-item {
        flex: 1 1 30%;
        max-width: 30%;
        margin-top: 7px;
        padding: 5px 0;
        text-align: center;
        color: map-get($gray-palette, 450);
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid transparent;
        text-transform: uppercase;

        &:hover {
          background-color: map-get($gray-palette, 200);
        }
      }
    }

    .reset-date-btn {
      display: block;
      margin-top: 10px;
      margin-left: auto;
      color: map-get($gray-palette, 450);
      text-transform: uppercase;
      font-size: 15px;
      border: none;
      background-color: transparent;
    }
  }
}
