<input [formControl]="control" type="text" mask="00/00/0000" [placeholder]="placeholder" #input />
<button type="button" (click)="displayCalendar()" class="icon i-calendar"></button>
<div [hidden]="!showCalendar" #calendar class="date-picker-cover">
  <div class="date-picker-inner">
    <div class="month-toggle">
      <button type="button" (click)="prev()" class="icon i-datepicker-left"></button>
      <button type="button" (click)="setYearPickers()" class="month-word">{{ rangeWord }}</button>
      <button type="button" (click)="next()" class="icon i-datepicker-right"></button>
    </div>
    <ng-container [ngSwitch]="currentStep">
      <div *ngSwitchCase="datePickerSteps.DAY" class="days-cover">
        <div class="day-item week-word red">S</div>
        <div class="day-item week-word">M</div>
        <div class="day-item week-word">T</div>
        <div class="day-item week-word">W</div>
        <div class="day-item week-word">T</div>
        <div class="day-item week-word">F</div>
        <div class="day-item week-word red">S</div>
        <div *ngFor="let day of days; let i = index" [class.empty-date]="!day || day.disabled" [class.selected]="day?.selected" (click)="select(i)" class="day-item">
          {{ day ? day.date : ' ' }}
        </div>
      </div>
      <div *ngSwitchCase="datePickerSteps.YEAR" class="years-cover">
        <button *ngFor="let y of years" type="button" (click)="selectYear($event, y)" class="year-item">{{ y }}</button>
      </div>
      <div *ngSwitchCase="datePickerSteps.MONTH" class="months-cover">
        <button *ngFor="let m of months; let i = index" type="button" (click)="selectMonth($event, i)" class="month-item">{{ m }}</button>
      </div>
    </ng-container>
    <button type="button" (click)="clear()" class="reset-date-btn">Clear</button>
  </div>
</div>
