<h2>Sign In</h2>
<p>It's time to check your business</p>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label>
    <input type="text" formControlName="phone" placeholder="+7" mask="+000000000000000" />
  </label>
  <label>
    <input type="password" formControlName="password" placeholder="Password" />
  </label>
  <div class="forgot-cover">
    <a routerLink="/forgot" class="forgot-password">Forgot your password?</a>
  </div>
  <div *ngIf="loginForm.hasError('invalid')" class="is-error">Invalid phone or password were provided</div>
  <div class="auth-actions">
    <button type="submit" class="auth-action-login">Sign In</button>
    <a routerLink="/registration">Sign Up</a>
  </div>
</form>
