<div class="main-right-user-cover">
  <div class="left-cover">
    <div class="profile-left-top-cover">
      <div class="profile-info-cover">
        <div class="avatar-change-cover" [class.loading-avatar]="loadingAvatar"></div>
        <img [src]="company?.logo" (load)="avatarLoaded()" (error)="erroredAvatar()" />
        <a [routerLink]="['/user', 'business', company?.uuid, 'change', 'main']" class="edit-profile">Edit my space</a>
      </div>
      <div class="bambook-progress-cover">
        <img src="/assets/images/not-bambook.svg" />
        <div class="progress-fill-cover">
          <div id="progress-fill" class="progress-fill"></div>
        </div>
        <p id="progress-percentage" class="progress-percentage">{{ percentage }} %</p>
      </div>
    </div>
    <div class="news-cover">
      <div class="create-cover">
        <div class="text-flex">
          <p>News</p>
          <div class="count">0</div>
        </div>
        <a class="show-all">All</a>
      </div>
      <!--      <div class="new-item">-->
      <!--        <div class="new-item-top">-->
      <!--          <div class="new-top-left">-->
      <!--            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/rick-sanchez-1-563922.png" />-->
      <!--            <div class="new-top-left-word">-->
      <!--              <div class="new-left-company">Bambook LTD</div>-->
      <!--              <div class="new-left-user">Lobykin Yuiriy</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="new-top-right">-->
      <!--            Today - 11:00-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="new-description">-->
      <!--          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="right-cover">
    <div class="right-flex">
      <div class="user-profile-info">
        <div class="user-name-info">
          <div class="user-name">{{ company?.name || 'Loading...' }}</div>
          <span class="icon i-official"></span>
        </div>
        <div class="dash-divider"></div>
        <div class="key-value-cover">
          <div class="key-value">
            <div class="key-cover">
              Telephone:
            </div>
            <div class="value-cover">
              058-630-1586
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              E-mail:
            </div>
            <div class="value-cover">
              lermtov@gmail.com
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              ID:
            </div>
            <div class="value-cover">
              {{ company?.uuid }}
            </div>
          </div>
          <div class="key-value">
            <div class="key-cover">
              Address:
            </div>
            <div class="value-cover">
              Ehudit 26 TA, Israel
            </div>
          </div>
        </div>
        <a class="digital-card">B-Digital Card</a>
      </div>
      <div class="contacts-list">
        <h5>Contacts</h5>
        <div class="friends-cover">
          <a *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="friend-item">
            <img [src]="noAvatar" />
            <p class="friend-name">Test</p>
          </a>
        </div>
      </div>
    </div>
    <div class="notes-cover">
      <div class="create-cover no-padding">
        <div class="text-flex">
          <p>Notes</p>
          <div class="count">0</div>
        </div>
        <a routerLink="/user/notes" class="show-all">All</a>
      </div>
<!--      <div *ngFor="let i of [1, 2, 3]" class="note-item-cover note-color priority-0">-->
<!--        <div class="note-top">-->
<!--          <div class="note-name">Take the child</div>-->
<!--          <div class="note-date">22 June, 2020</div>-->
<!--        </div>-->
<!--        <p class="note-description">Take the child, man</p>-->
<!--        <div class="note-bottom">-->
<!--          <div class="note-bottom-left">-->
<!--            <div class="note-sent">-->
<!--              <span class="icon i-sent"></span>-->
<!--              Send by-->
<!--            </div>-->
<!--            <div class="note-from">-->
<!--              <img [src]="noAvatarSmall" />-->
<!--              Aang Katara-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="note-bottom-right">-->
<!--            <span class="icon i-clock"></span>-->
<!--            Completion 22 June, 2020-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
