<form *ngIf="noteForm" class="create-note-cover" [formGroup]="noteForm">
  <div class="note-header">
    <div [class.d-none]="nameEditing" class="note-header-left">
      <div class="note-name">{{ noteForm.get('name').value || 'Name your note' }}</div>
      <button type="button" (click)="toggleNameEdit()" class="icon i-write-pencil"></button>
    </div>
    <div [class.d-none]="!nameEditing" class="note-header-left">
      <input type="text" formControlName="name" placeholder="Name your note" />
      <button type="button" (click)="toggleNameEdit()" class="icon i-green-ok"></button>
    </div>
    <ng-container *ngIf="noteForm.get('name').touched">
      <div *ngIf="noteForm.get('name').hasError('required')" class="is-error">This field is required</div>
    </ng-container>
    <button type="button" (click)="closeNote()" class="icon i-dash-close"></button>
  </div>
  <div class="edit-cover sender-cover">
    <div class="edit-key">Sender:</div>
    <app-bare-select [options]="senderOptions" [control]="noteForm.get('from_user')"></app-bare-select>
  </div>
  <div class="edit-cover priority-cover">
    <div class="edit-key">Priority:</div>
    <input type="radio" formControlName="priority" id="no-prior" [value]="0" />
    <label class="urgency with-minus-margin" for="no-prior">
      <span class="circle no-prior"></span>
      No priority
    </label>
    <input type="radio" formControlName="priority" id="not-urg" [value]="1" />
    <label class="urgency" for="not-urg">
      <span class="circle not-urg"></span>
      Not urgent
    </label>
    <input type="radio" formControlName="priority" id="urg" [value]="2" />
    <label class="urgency" for="urg">
      <span class="circle urg"></span>
      Urgently
    </label>
    <input type="radio" formControlName="priority" id="very-urg" [value]="3" />
    <label class="urgency" for="very-urg">
      <span class="circle very-urg"></span>
      Very urgent
    </label>
  </div>
  <div class="edit-cover chat-cover">
    <div class="edit-key">Chat:</div>
    <input type="checkbox" id="chat-check" formControlName="chat" />
    <label class="note-checkbox-label" for="chat-check"></label>
  </div>
  <div class="edit-cover tags-cover">
    <div class="edit-key">Tags:</div>
    <label>
      <input type="text" formControlName="tag" placeholder="Enter the tag yourself (double space separator)" />
    </label>
  </div>
  <div class="main-divider"></div>
  <div class="note-additional-info-cover">
    <app-datepicker [control]="noteForm.get('deadline')" [minDate]="today" placeholder="Add date" class="bare"></app-datepicker>
    <div #userDropdown>
      <button type="button" (click)="userDropdownShow()" class="choose-cover">
        <span class="icon i-profile"></span>
        {{ chosenFriends.length ? (chosenFriends.length == 1 ? '1 user' : chosenFriends.length + ' users') : 'Add user' }}
      </button>
      <div [hidden]="!showUserDropdown" class="dropdown-add-cover add-user-cover">
        <div class="add-user-head">Add user to note</div>
        <input type="text" [formControl]="userSearchControl" placeholder="Search" />
        <div class="add-user-users custom-scrollbar">
          <div *ngFor="let friend of foundFriends; let i = index" class="add-user-item">
            <img [src]="friend.avatar || noAvatar" />
            <div class="user-item-name item-name">{{ friend.first_name }} {{ friend.last_name }}</div>
            <button type="button" (click)="chooseFriend(friend, i, $event)" class="icon i-add-form"></button>
          </div>
          <div *ngFor="let friend of chosenFriends; let i = index" class="add-user-item">
            <img [src]="friend.avatar || noAvatar" />
            <div class="user-item-name item-name">{{ friend.first_name }} {{ friend.last_name }}</div>
            <button type="button" (click)="removeFriend(i, $event)" class="icon i-red-cross"></button>
          </div>
        </div>
      </div>
    </div>
    <div #fileDropdown>
      <button type="button" (click)="fileDropdownShow()" class="choose-cover m-l-25">
        <span class="icon i-pin-file"></span>
        {{ files.length ? (files.length == 1 ? '1 file' : files.length + ' files') : 'Add file' }}
      </button>
      <div [hidden]="!showFileDropdown" class="dropdown-add-cover add-file-cover">
        <div class="add-user-head">Add files</div>
        <label appDragDrop class="drag-drop-cover" (onFileDropped)="filesDropped($event)">
          <input type="file" (change)="filesChanged($event)" #fileInput multiple />
          Drop or select files
        </label>
        <div class="add-file-files custom-scrollbar">
          <div *ngFor="let file of note?.files; let i = index" class="add-file-item">
            <div class="file-item-name item-name">{{ file.filename }}</div>
            <div class="file-item-size">{{ file.size | fileSize }}</div>
            <button type="button" (click)="deleteFile(i, $event)" class="icon i-red-cross"></button>
          </div>
          <div *ngFor="let file of files; let i = index" class="add-file-item">
            <div class="file-item-name item-name">{{ file.name }}</div>
            <div class="file-item-size">{{ file.size | fileSize }}</div>
            <button type="button" (click)="removeFile(i, $event)" class="icon i-red-cross"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="additional-info">
    <textarea placeholder="Edit text" formControlName="text"></textarea>
  </div>
  <div class="two-actions">
    <button type="button" (click)="closeNote()" class="cancel-btn">Cancel</button>
    <button type="button" (click)="save()" [disabled]="saving" class="save-btn">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</form>
