<div class="user-parent-cover">
  <div class="left-sidebar">
    <a routerLink="/user/profile"><img class="sidebar-logo" src="/assets/images/logo.png" /></a>
    <div class="left-menu">
      <a routerLink="/user/profile" routerLinkActive="active">
        <span class="icon i-profile"></span>
        <div class="a-word">My page</div>
      </a>
      <a routerLink="/user/notes" routerLinkActive="active">
        <span class="icon i-paper"></span>
        <div class="a-word">Notes</div>
      </a>
      <a routerLink="/user/archives" routerLinkActive="active">
        <span class="icon i-archive"></span>
        <div class="a-word">Archive</div>
      </a>
      <div class="main-divider"></div>
      <ng-container *ngFor="let company of userProfile?.companies">
        <a [routerLink]="['/user/business/', company.uuid]" class="business-link" routerLinkActive="active">
          <img [src]="company.logo || noAvatarSmall" />
          <div class="a-word">{{ company.name }}</div>
        </a>
        <div class="business-additional-links">
          <a routerLinkActive="active">
            <div class="a-word">Meeting room / Team</div>
          </a>
          <a routerLinkActive="active">
            <div class="a-word">Position Profile</div>
          </a>
          <a routerLinkActive="active">
            <div class="a-word">Inventory</div>
          </a>
          <a routerLinkActive="active">
            <div class="a-word">Accounting</div>
          </a>
          <a routerLinkActive="active">
            <div class="a-word">Space Settings</div>
          </a>
        </div>
      </ng-container>
      <a routerLink="/user/business/create" routerLinkActive="active">
        <span class="icon i-logo"></span>
        <div class="a-word">Create your business</div>
      </a>
      <div class="main-divider"></div>
      <a routerLink="/user/settings" routerLinkActive="active">
        <span class="icon i-settings"></span>
        <div class="a-word">Edit menu</div>
      </a>
      <a routerLink="/user/support" routerLinkActive="active">
        <span class="icon i-help"></span>
        <div class="a-word">Support</div>
      </a>
    </div>
  </div>
  <div class="main-right-cover">
    <div class="user-right-header">
      <div class="header-left-cover">
        <label>
          <span class="icon i-search-loupe"></span>
          <input type="text" [formControl]="userSearchControl" placeholder="Look for an employee, document, other..." #searchDropdown />
        </label>
        <div [hidden]="!showSearchDropdown" class="user-search-cover">
          <a *ngFor="let user of foundUsers" [routerLink]="['/user/profile/', user.uuid]" (click)="resetSearchControl()">
            <img [src]="user.avatar || noAvatarSmall" />
            <span>{{ user.first_name }} {{ user.last_name }}</span>
          </a>
        </div>
      </div>
      <div class="header-right-cover">
        <app-header-right></app-header-right>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-snackbar></app-snackbar>
