@import "src/styles/theming";

.user-parent-cover {
  display: flex;
  background-color: $background-gray;
  min-height: 100vh;

  .left-sidebar {
    z-index: 1;
    background-color: $white;
    width: 20vw;
    min-width: 20vw;
    padding: 20px;
    box-shadow: 5px 0 15px -5px rgba(192, 197, 233, 0.6);

    .sidebar-logo {
      width: 120px;
    }

    .left-menu {
      margin-top: 20px;

      .business-additional-links {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.15s ease-out;

        a {
          .a-word {
            margin-left: 28px;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin: 5px 0;
        background-color: transparent;
        border-radius: 20px;
        text-decoration: none;

        &.business-link.active {
          &~.business-additional-links {
            display: block;
            max-height: 500px;
            transition: max-height 0.25s ease-in;
          }
        }

        img {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          object-fit: cover;
        }

        &.active {
          background-color: rgba(map-get($gray-palette, 350), 0.5);
        }

        .a-word {
          font-size: 13px;
          margin-left: 12px;
          color: map-get($gray-palette, 450);
          font-weight: 500;
        }

        .message-count {
          margin-left: auto;
          background-color: map-get($gray-palette, 350);
          width: 13px;
          height: 13px;
          color: map-get($gray-palette, 450);
          font-size: 8px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .main-right-cover {
    width: 100%;
  }
}

.user-right-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: $white;

  .header-left-cover {
    position: relative;

    .user-search-cover {
      position: absolute;
      z-index: 6;
      width: 100%;
      background-color: $white;
      box-shadow: 0 7px 10px rgba(192, 197, 233, 0.6);
      border-radius: 5px;
      overflow: hidden;

      a {
        display: flex;
        align-items: center;
        color: map-get($gray-palette, 450);
        padding: 8px 20px;
        text-decoration: none;

        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        &:hover {
          background-color: map-get($gray-palette, 200);
        }
      }
    }

    label {
      display: flex;
      align-items: center;

      input {
        width: 45vw;
        border: none;
        padding: 15px 20px;
        outline: none;

        &::placeholder {
          color: map-get($gray-palette, 350);
        }
      }
    }
  }
}
