<div *ngIf="workersForm; else loader" class="create-business">
  <h2>Your workers</h2>
  <div *ngIf="!workersForm.controls.length && !workers.length" class="no-length">You have no workers</div>
  <div *ngFor="let worker of workers; let i = index" class="multiple-form">
    <input type="text" placeholder="Worker name" class="form-name" [value]="worker.worker" />
    <label>
      <input type="file" />
      <div appDragDrop class="upload-file">
        <span class="icon i-plus-gray"></span>
        <span class="icon i-cloud-upload"></span>
      </div>
      <span class="file-name">{{ worker.filename }}</span>
    </label>
    <button type="button" (click)="deleteWorker(i)" class="icon i-delete-form"></button>
  </div>
  <form *ngFor="let fb of workersForm.controls; let i = index" [formGroup]="fb" class="multiple-form">
    <input type="text" placeholder="Worker name" formControlName="name" class="form-name" />
    <label>
      <input type="file" (change)="fileChanged($event, i)" [class.has-error]="fb.touched && fb.get('document').errors" />
      <div appDragDrop class="upload-file" (onFileDropped)="fileDropped($event, i)">
        <span class="icon i-plus-gray"></span>
        <span class="icon i-cloud-upload"></span>
      </div>
      <span class="file-name">{{ fb.get('document').value?.name || 'Add document' }}</span>
    </label>
    <button type="button" (click)="removeForm(i)" class="icon i-delete-form"></button>
  </form>
  <button type="button" (click)="addWorkerForm()" class="add-new-form">
    <span class="icon i-plus-green"></span>
    Add worker
  </button>
  <div class="two-actions">
    <a [routerLink]="['/user', 'business', companyUuid, 'change', 'clients']" class="back-btn">Back</a>
    <button type="button" (click)="submitForm()" class="next-btn">Next</button>
  </div>
</div>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
