<form *ngIf="aboutForm; else loader" [formGroup]="aboutForm" (ngSubmit)="submitForm()" class="create-business">
  <div class="flex-form">
    <label class="no-margin-top">
      <input type="text" placeholder="Website" formControlName="website" />
      <ng-container *ngIf="aboutForm.get('website')?.touched">
        <div *ngIf="aboutForm.get('website').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label class="no-margin-top">
      <app-select (searching)="searchCountry($event)" placeholder="Country" [control]="aboutForm.get('country')" [options]="countries"></app-select>
    </label>
    <label>
      <input type="text" placeholder="Phone" mask="+0000000000000000000000" formControlName="phone" />
    </label>
    <label>
      <app-select (searching)="searchCity($event)" placeholder="City" [control]="aboutForm.get('city')" [options]="cities"></app-select>
    </label>
    <label>
      <input type="text" placeholder="Additional phone" mask="+0000000000000000000000" formControlName="additional_phone" />
    </label>
    <label>
      <input type="text" placeholder="Street" formControlName="street" />
    </label>
    <label>
      <input type="text" placeholder="Fax" formControlName="fax" />
    </label>
    <label>
      <input type="text" placeholder="Post address" formControlName="post_address" />
    </label>
    <label>
      <input type="text" placeholder="IBAN code" formControlName="iban" />
    </label>
    <label>
      <input type="text" placeholder="Working days" formControlName="working_days" />
    </label>
    <label>
      <input type="text" placeholder="Type of business" formControlName="type_of_business" />
    </label>
    <label>
      <input type="text" placeholder="Working time" formControlName="working_time" />
    </label>
  </div>
  <div class="two-actions">
    <a [routerLink]="['/user', 'business', companyUuid, 'change', 'main']" class="back-btn">Back</a>
    <button type="submit" class="next-btn">Next</button>
  </div>
</form>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
