@import "src/styles/theming";

.modal-cover {
  padding: 20px;
  text-align: center;

  p {
    color: $black;
    margin: 0 0 15px;
  }

  button {
    background-color: map-get($gray-palette, 350);
    color: map-get($gray-palette, 450);
    border: none;
    border-radius: 4px;
    padding: 7px 25px;
  }
}
