<h2>REGISTRATION</h2>
<p>Sign up to clean up your business</p>
<form [formGroup]="registrationForm">
  <ng-container *ngIf="!gotSMS">
    <label>
      <input type="text" formControlName="phone" placeholder="+7" mask="+000000000000000" />
      <div *ngIf="registrationForm.get('phone').touched && registrationForm.get('phone').hasError('required')" class="is-error">This field is required</div>
      <div *ngIf="registrationForm.get('phone').hasError('This field must be unique.')" class="is-error">This phone number is already taken</div>
    </label>
    <label>
      <input type="text" formControlName="first_name" placeholder="First name" />
      <ng-container *ngIf="registrationForm.get('first_name').touched">
        <div *ngIf="registrationForm.get('first_name').hasError('required')" class="is-error">This field is required</div>
      </ng-container>
    </label>
    <label>
      <input type="text" formControlName="last_name" placeholder="Last name" />
      <ng-container *ngIf="registrationForm.get('last_name').touched">
        <div *ngIf="registrationForm.get('last_name').hasError('required')" class="is-error">This field is required</div>
      </ng-container>
    </label>
    <label>
      <input type="password" formControlName="password" placeholder="Password" autocomplete="new-password" />
      <ng-container *ngIf="registrationForm.get('password').touched">
        <div *ngIf="registrationForm.get('password').hasError('required')" class="is-error">This field is required</div>
        <div *ngIf="registrationForm.get('password').hasError('minlength')" class="is-error">Password must contain minimal 6 characters</div>
      </ng-container>
    </label>
    <label>
      <input type="password" formControlName="repeat_password" placeholder="Confirm password" />
      <div *ngIf="registrationForm.get('repeat_password').touched && registrationForm.get('repeat_password').hasError('notMatch')" class="is-error">Passwords doesn't match</div>
    </label>
    <label class="checkbox-label">
      <input type="checkbox" formControlName="terms" />
      I agree to the Terms of Use
      <div *ngIf="registrationForm.get('terms').touched && registrationForm.get('terms').hasError('pattern')" class="is-error">This field is required</div>
    </label>
  </ng-container>
  <label *ngIf="gotSMS">
    <input type="text" formControlName="code" placeholder="Enter SMS code" mask="0000" />
    <div *ngIf="registrationForm.get('code').touched && registrationForm.get('code').hasError('required')" class="is-error">This field is required</div>
    <div *ngIf="registrationForm.get('code').hasError('Invalid code')" class="is-error">SMS code is invalid</div>
  </label>
  <div *ngIf="registrationForm.hasError('unknown')" class="is-error">Some errors occurred, please try again after some time</div>
  <div class="auth-actions">
    <button type="button" [disabled]="gotSMS" (click)="sendCode()" class="auth-action-login padding-small">Send me SMS</button>
    <button type="button" [disabled]="!gotSMS" (click)="activate()" class="auth-action-login">Log In</button>
  </div>
</form>
