@import "src/styles/theming";

input {
  &.is-editable {
    cursor: pointer;
  }
}

.i-arrow-bottom {
  position: absolute;
  right: 5px;
  top: -3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 26px;
  height: 26px;
  background-size: 10px 7px;
  background-position: center;
}

.options-cover {
  position: absolute;
  background-color: $white;
  width: 100%;
  box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
  border-radius: 10px;
  z-index: 5;
  margin-top: 7px;
  overflow: auto;
  max-height: 187px;

  .option-object {
    padding: 10px 20px;
    color: map-get($gray-palette, 450);
    font-size: 14px;
    background-color: transparent;
    border: none;
    display: block;
    text-align: start;
    width: 100%;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: map-get($gray-palette, 200);
    }
  }
}
