<input *ngIf="isEditable" [formControl]="searchControl" [placeholder]="placeholder" type="text" class="form-control" />
<input *ngIf="!isEditable" [formControl]="searchControl" [placeholder]="placeholder" type="text" class="form-control is-editable" (click)="showOptionsArrow()" readonly />
<button type="button" (click)="showOptionsArrow()" class="icon i-arrow-bottom"></button>
<div *ngIf="showOptions" class="options-cover">
  <button *ngFor="let obj of options" (click)="selectOption(obj)" type="button" class="option-object">{{ obj.name }}</button>
</div>
