<form *ngIf="socialsForm; else loader" [formGroup]="socialsForm" (ngSubmit)="submitForm()" class="create-business">
  <div class="flex-form">
    <label class="no-margin-top">
      <input type="text" placeholder="Facebook" formControlName="facebook" />
      <ng-container *ngIf="socialsForm.get('facebook')?.touched">
        <div *ngIf="socialsForm.get('facebook').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label class="no-margin-top">
      <input type="text" placeholder="Viber" formControlName="viber" />
      <ng-container *ngIf="socialsForm.get('viber')?.touched">
        <div *ngIf="socialsForm.get('viber').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Whatsapp" formControlName="whatsapp" />
      <ng-container *ngIf="socialsForm.get('whatsapp')?.touched">
        <div *ngIf="socialsForm.get('whatsapp').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Telegram" formControlName="telegram" />
      <ng-container *ngIf="socialsForm.get('telegram')?.touched">
        <div *ngIf="socialsForm.get('telegram').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Instagram" formControlName="instagram" />
      <ng-container *ngIf="socialsForm.get('instagram')?.touched">
        <div *ngIf="socialsForm.get('instagram').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="WeChat" formControlName="wechat" />
      <ng-container *ngIf="socialsForm.get('wechat')?.touched">
        <div *ngIf="socialsForm.get('wechat').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Linkedin" formControlName="linkedin" />
      <ng-container *ngIf="socialsForm.get('linkedin')?.touched">
        <div *ngIf="socialsForm.get('linkedin').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="VK" formControlName="vk" />
      <ng-container *ngIf="socialsForm.get('vk')?.touched">
        <div *ngIf="socialsForm.get('vk').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Picsart" formControlName="piscart" />
      <ng-container *ngIf="socialsForm.get('piscart')?.touched">
        <div *ngIf="socialsForm.get('piscart').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Google+" formControlName="google" />
      <ng-container *ngIf="socialsForm.get('google')?.touched">
        <div *ngIf="socialsForm.get('google').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Skype" formControlName="skype" />
      <ng-container *ngIf="socialsForm.get('skype')?.touched">
        <div *ngIf="socialsForm.get('skype').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
    <label>
      <input type="text" placeholder="Youtube" formControlName="youtube" />
      <ng-container *ngIf="socialsForm.get('youtube')?.touched">
        <div *ngIf="socialsForm.get('youtube').hasError('pattern')" class="is-error">Enter a valid url</div>
      </ng-container>
    </label>
  </div>
  <div class="two-actions">
    <a routerLink="/user/create/business/main" class="back-btn">Back</a>
    <button type="submit" class="next-btn">Next</button>
  </div>
</form>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
