<div class="watch-note-cover" [ngClass]="'priority-' + note?.priority">
  <ng-container *ngIf="noteReady; else loader">
    <div class="watch-top">
      <div class="box-tick"></div>
      <div class="watch-name">{{ note.name || 'Loading...' }}</div>
      <div class="created-date">Created</div>
      <div class="watch-date">{{ note.created_at | date: 'dd MMM, yyyy' }}</div>
      <button *ngIf="meAuthor" type="button" (click)="edit()" class="icon i-write-pencil"></button>
      <button type="button" (click)="close()" class="icon i-gray-cross"></button>
    </div>
    <div class="priority-progress-cover">
      <div class="smth-word">Priority:</div>
      <div class="urgency-word">{{ urgencyNames[note.priority] }}</div>
  <!--    <div class="progress-word">Progress:</div>-->
  <!--    <div class="progress-status">Not started</div>-->
    </div>
    <div *ngIf="note.tags?.length" class="tags-generated-cover">
      <div class="smth-word">Tags:</div>
      <div class="tag-box-cover">
        <div *ngFor="let tag of note.tags" class="tag-box">{{ tag }}</div>
      </div>
    </div>
    <div class="d-flex">
      <div class="watch-left">
        <p class="watch-task-word">Task</p>
        <div class="watch-description custom-scrollbar">
          {{ note.text }}
        </div>
        <div class="task-information">
          <div class="file-number-cover">{{ note.files.length ? '+' + note.files.length + ' files' : 'no file' }} shared</div>
          <div *ngIf="note.deadline" class="watch-deadline">
            <span class="icon i-clock"></span>
            Completion {{ note.deadline | date: 'dd.MM.yyyy' }}
          </div>
          <div class="task-info">
            <div class="task-sent">
              <span class="icon i-sent"></span>
              Send by
            </div>
            <a routerLink="/user/profile" class="task-author">
              <img [src]="note.from_user.avatar || noAvatar" />
              {{ note.from_user.first_name }} {{ note.from_user.last_name }}
            </a>
          </div>
        </div>
        <div *ngIf="note.files.length" class="files-cover custom-scrollbar">
          <a *ngFor="let file of note.files" [href]="file.file" target="_blank" class="file-item" download>
            <span class="icon i-pin-file"></span>
            {{ file.filename }}
          </a>
        </div>
        <div *ngIf="note.is_request" class="task-actions">
          <button type="button" (click)="replyNote(false)" class="action-btn decline-btn">
            <span class="icon i-delete-form"></span>
            Decline
          </button>
          <button type="button" (click)="replyNote(true)" class="action-btn accept-btn">
            <span class="icon i-accept"></span>
            Accept
          </button>
        </div>
      </div>
      <div *ngIf="note.chat" class="watch-right">
        <div class="chat-cover">
          <div class="chat-messages-cover custom-scrollbar">
            <div *ngFor="let message of messages" class="message-item" [class.me]="message.is_me">
              <img [src]="message.author.avatar" class="message-avatar" />
              <div class="message-text">{{ message.text }}</div>
              <div class="message-time">{{ message.created_at | date: 'H:mm' }}</div>
            </div>
          </div>
          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="chat-actions-cover">
            <button type="button" class="icon i-add-form"></button>
            <input type="text" formControlName="message" placeholder="Your message..." />
            <button type="submit" class="icon i-chat-send"></button>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
