@import "src/styles/theming";

* {
  font-family: 'Google Sans', serif;
}

.watch-note-cover {
  min-width: 480px;
  background-color: $white;
  box-shadow: 0 0 60px rgba(192, 197, 233, 0.6);
  border-radius: 8px;
  padding: 30px;

  .watch-left {
    width: 100%;
  }

  &.priority-0 {
    .box-tick {
      background-color: map-get($green-palette, 500);
    }

    .priority-progress-cover {
      .urgency-word {
        color: map-get($green-palette, 500);
      }
    }
  }

  &.priority-1 {
    .box-tick {
      background-color: map-get($gray-palette, 350);
    }

    .priority-progress-cover {
      .urgency-word {
        color: map-get($gray-palette, 350);
      }
    }
  }

  &.priority-2 {
    .box-tick {
      background-color: map-get($orange-palette, 500);
    }

    .priority-progress-cover {
      .urgency-word {
        color: map-get($orange-palette, 500);
      }
    }
  }

  &.priority-3 {
    .box-tick {
      background-color: map-get($red-palette, 400);
    }

    .priority-progress-cover {
      .urgency-word {
        color: map-get($red-palette, 400);
      }
    }
  }

  .watch-top {
    display: flex;
    align-items: center;
    margin-left: -30px;

    .watch-name {
      font-size: 14px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
    }

    .created-date {
      margin-left: auto;
      font-weight: 500;
      font-size: 11px;
      color: map-get($gray-palette, 350);
    }

    .watch-date {
      font-weight: 500;
      font-size: 11px;
      margin-left: 10px;
      color: map-get($gray-palette, 450);
    }

    .icon {
      margin-left: 20px;
      border: none;
      background-color: transparent;

      &.i-gray-cross {
        margin-left: 10px;
      }
    }
  }

  .smth-word {
    width: 50px;
    color: map-get($gray-palette, 450);
    margin-right: 20px;
  }

  .priority-progress-cover {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    margin-top: 10px;
    padding-right: 40px;

    .urgency-word {
      color: map-get($green-palette, 500);
    }

    .progress-word {
      margin-left: auto;
      color: map-get($gray-palette, 450);
    }

    .progress-status {
      margin-left: 12px;
      color: map-get($gray-palette, 450);
    }
  }

  .tags-generated-cover {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;

    .tag-box-cover {
      display: flex;
      margin-left: -6px;

      .tag-box {
        padding: 3px 12px;
        background-color: map-get($gray-palette, 350);
        color: map-get($gray-palette, 450);
        border-radius: 35px;
        margin-left: 6px;
      }
    }
  }

  .watch-task-word {
    font-size: 11px;
    color: map-get($gray-palette, 450);
    font-weight: 500;
    margin: 25px 0 0;
  }

  .watch-description {
    max-height: 230px;
    height: 230px;
    overflow-y: auto;
    width: 420px;
    margin-top: 10px;
    font-size: 13px;
    color: map-get($gray-palette, 450);
    text-align: justify;
    padding-right: 15px;
  }

  .task-information {
    display: flex;
    align-items: center;
    margin-top: 25px;
    min-width: 230px;

    .file-number-cover {
      background-color: map-get($blue-palette, 500);
      color: $white;
      border-radius: 4px;
      padding: 4px;
      font-size: 11px;
      font-weight: 500;
    }

    .watch-deadline {
      display: flex;
      align-items: center;
      color: map-get($gray-palette, 450);
      margin-left: 25px;
      font-size: 11px;
      font-weight: 500;

      .icon {
        margin-right: 12px;
      }
    }
  }

  .files-cover {
    margin-top: 15px;
    max-height: 71px;
    overflow-y: auto;

    .file-item {
      display: flex;
      align-items: center;
      color: map-get($gray-palette, 450);
      font-size: 12px;
      font-weight: 500;
      margin-top: 12px;

      &:not(:first-child) {
        margin-top: 8px;
      }

      .icon {
        margin-right: 12px;
      }
    }
  }

  .task-actions {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .action-btn {
      padding: 0;

      &.accept-btn {
        margin-left: 15px;
      }
    }
  }

  .chat-cover {
    width: 305px;
    padding-left: 20px;
    padding-top: 25px;

    .chat-messages-cover {
      display: flex;
      flex-direction: column-reverse;
      max-height: 330px;
      overflow-y: auto;
      height: 330px;
      background-color: map-get($gray-palette, 310);
      border-radius: 10px;
      padding: 11px 9px;

      .message-item {
        display: flex;
        margin-top: 10px;

        &:last-child {
          padding-top: 10px;
          margin-top: 0;
        }

        &.me {
          flex-direction: row-reverse;
        }

        .message-avatar {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          object-fit: cover;
        }

        .message-text {
          margin: 0 10px;
          width: 160px;
          font-size: 12px;
          border: 0.5px solid map-get($gray-palette, 450);
          background-color: map-get($gray-palette, 350);
          color: map-get($black-palette, 600);
          padding: 7px;
          border-radius: 6px;
        }

        .message-time {
          margin: auto 0 5px;
          font-size: 10px;
        }
      }
    }

    .chat-actions-cover {
      background-color: map-get($gray-palette, 310);
      padding: 9px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      margin-top: 10px;

      .icon {
        background-color: transparent;
        border: none;
      }

      input[type=text] {
        background-color: transparent;
        border: none;
        outline: 0;
        width: 80%;
      }
    }
  }
}
