<form *ngIf="statuteForm; else loader" [formGroup]="statuteForm" (ngSubmit)="submitForm()" class="create-business">
  <input type="text" placeholder="Please input" formControlName="first" />
  <input type="text" placeholder="Please input" formControlName="second" />
  <input type="text" placeholder="Please input" formControlName="third" />
  <input type="text" placeholder="Please input" formControlName="fourth" />
  <input type="text" placeholder="Please input" formControlName="fifth" />
  <input type="text" placeholder="Please input" formControlName="sixth" />
  <div class="two-actions">
    <a routerLink="/user/create/business/main" class="back-btn">Back</a>
    <button type="submit" class="next-btn">Next</button>
  </div>
</form>
<ng-template #loader>
  <img class="loader" src="/assets/gifs/loader.gif" />
</ng-template>
