@import "src/styles/theming";

.create-business {
  input[type=text] {
    width: 100%;
    padding: 8px 13px;
    border-radius: 6px;
    border: 1px solid map-get($gray-palette, 450);

    &::placeholder {
      color: map-get($gray-palette, 450);
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
