@import "src/styles/theming";

* {
  font-family: 'Google Sans', serif;
}

.select-cover {
  position: relative;

  .main-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 17px;

    .current-value {
      font-size: 10px;
      color: map-get($gray-palette, 450);
      font-weight: 500;
    }

    .icon {
      margin-left: 10px;
    }
  }

  .list-cover {
    z-index: 5;
    position: absolute;
    top: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px rgba(192, 197, 233, 0.6);
    max-height: 350px;
    overflow-y: auto;

    .list-item {
      width: 100%;
      padding: 8px 15px;
      text-align: start;
      border: none;
      color: map-get($gray-palette, 450);
      font-weight: 500;
      background-color: $white;

      &:hover {
        background-color: map-get($gray-palette, 200);
      }

      &:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      &:last-child {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }
  }
}
