<div class="select-cover" #itemList>
  <button type="button" (click)="dropdownShow()" class="main-btn">
    <div class="current-value">{{ currentName }}</div>
    <span class="icon i-select-bottom-green"></span>
  </button>
  <div [hidden]="!showDropdown" class="list-cover">
    <button *ngFor="let option of options" type="button" (click)="select(option)" class="list-item">{{ option.name }}</button>
  </div>
</div>
