<div class="create-business with-upload">
  <h2>Add here all documents required to your business</h2>
  <label appDragDrop (onFileDropped)="fileDropped($event)">
    <input type="file" (change)="fileChanged($event)" id="upload-documents" multiple />
    <span class="icon i-cloud-upload"></span>
    {{ isAdding ? 'Uploading your files...' : 'Click or drag to upload files' }}
  </label>
  <div class="two-actions">
    <a [routerLink]="['/user', 'business', companyUuid, 'change', 'suppliers']" class="back-btn">Back</a>
  </div>
</div>
<ng-container *ngIf="files.length">
  <h2 class="my-load-files">My load files</h2>
  <div class="business-files-cover">
    <div *ngFor="let file of files; let i = index" class="file-cover">
      <button type="button" (click)="removeFile(i)" class="icon i-delete-form" title="Delete file"></button>
      <a [href]="file.document" target="_blank" class="icon i-cloud-download" title="Download file" download></a>
      <div class="remove-cover"></div>
      <img [src]="'/assets/images/' + (fileExtensions[file.ext] || 'pure-file.png')" />
      <p class="file-name">{{ file.filename }}</p>
    </div>
  </div>
</ng-container>
