<div class="main-auth-cover">
  <div class="left-cover">
    <router-outlet></router-outlet>
  </div>
  <div class="right-cover">
    <div class="features-cover">
      <h3>Features</h3>
      <p>
        <span class="icon i-marker-ok"></span>
        100% Free Sign Up
      </p>
      <p>
        <span class="icon i-marker-ok"></span>
        Free register company
      </p>
      <p>
        <span class="icon i-marker-ok"></span>
        More notes
      </p>
      <p>
        <span class="icon i-marker-ok"></span>
        More notes
      </p>
    </div>
  </div>
</div>
<div class="big-circle first-circle"></div>
<div class="big-circle second-circle"></div>
<div class="big-circle third-circle"></div>
<div class="big-circle fourth-circle"></div>
<div class="big-circle fifth-circle"></div>
<div class="medium-circle first-circle"></div>
<div class="medium-circle second-circle"></div>
<div class="medium-circle third-circle"></div>
<div class="medium-circle fourth-circle"></div>
<div class="medium-circle fifth-circle"></div>
<div class="small-circle first-circle"></div>
<div class="small-circle second-circle"></div>
<div class="small-circle third-circle"></div>
<div class="small-circle fourth-circle"></div>
<div class="small-circle fifth-circle"></div>
