@import "src/styles/theming";

.snackbar-cover {
  position: fixed;
  right: 0;
  top: 15px;
  padding: 15px 30px;
  color: $white;
  border-radius: 8px;
  visibility: hidden;
  transition: 0.5s;

  &.with-data {
    right: 150px;
    visibility: visible;
  }

  &.confirm {
    background-color: map-get($green-palette, 500);
  }

  .snackbar-message {
    margin: 0;
  }
}
