@import "src/styles/theming";

* {
  font-family: 'Poppins', serif;
}

.user-landing-header {
  display: flex;
  padding: 5px 40px;
  align-items: center;
  justify-content: space-between;

  .user-landing-header-logo {
    width: 120px;
  }
}

.container-user-landing {
  max-width: 1340px;
  min-width: 1050px;
  margin: 0 auto;
}

.main-header-cover {
  height: 320px;
  padding-top: 17px;
  background-color: map-get($gray-palette, 500);
  background-size: cover;
  position: relative;

  .user-main-info {
    position: absolute;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    background-color: $white;
    width: 300px;
    top: 85px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;

    .avatar-cover {
      position: relative;

      .user-avatar {
        width: 100%;
      }
    }
  }

  .user-info-cover {
    padding: 20px 24px;

    h6 {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: map-get($black-palette, 500);
      text-transform: uppercase;
    }

    .shortly-about-self {
      margin: 10px 0 20px;
      font-size: 12px;
    }

    .contact-info {
      display: flex;
      align-items: center;
      margin: 10px 0;
      font-size: 12px;
      color: map-get($black-palette, 400);
      text-decoration: none;

      span {
        margin-right: 7px;
      }
    }

    a.contact-info {
      color: map-get($green-palette, 500);
      text-decoration: underline;
    }

    .edit-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: 1px solid map-get($gray-palette, 350);
      padding: 14px;
      border-radius: 4px;
      font-size: 11px;
      margin-top: 40px;
      color: map-get($gray-palette, 350);

      span {
        margin-right: 5px;
      }
    }
  }

  .social-actions {
    position: relative;
    margin-top: 200px;
    padding: 5px 60px 0 31.7%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .edit-background {
      position: absolute;
      top: -30px;
      background-color: transparent;
      border: none;
      display: flex;
      color: $white;

      span {
        margin-right: 5px;
      }
    }

    .personal-cover {
      .personal-job {
        font-size: 12px;
        color: $white;
      }

      h3 {
        font-size: 36px;
        margin: 10px 0;
        color: $white;
        font-weight: 400;
      }
    }

    .share-buttons {
      display: flex;
      align-items: center;

      .icon {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }

      .share-media {
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        padding: 10px 21px;
        color: $white;

        .icon {
          margin-right: 14px;
        }
      }
    }
  }
}

.secondary-info-cover {
  background-color: map-get($gray-palette, 50);

  .various-cover {
    display: flex;
    margin-left: 316px;
    padding: 16px 0 30px;

    .first-cover, .second-cover, .third-cover {
      flex: 1 1 30%;

      &:not(:first-child) {
        margin-left: 16px;
      }
    }

    .job-cover {
      background-color: $white;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      padding: 24px;
      position: relative;

      &.less-margin {
        padding: 20px;

        h5 {
          margin: 0 4px;
        }
      }

      &:not(:first-child) {
        margin-top: 16px;
      }

      h5 {
        margin: 0;
        color: map-get($black-palette, 300);
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;

        &.flex {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .photo-count {
            font-size: 11px;
            color: map-get($gray-palette, 750);
          }
        }
      }

      p {
        margin: 10px 0;
        font-size: 11px;
        color: map-get($gray-palette, 750);
      }

      .key-value-cover {
        margin-top: 10px;
      }

      .key-value {
        font-size: 12px;
        color: map-get($gray-palette, 450);

        span {
          display: inline-block;
          margin-right: 7px;
          color: map-get($black-palette, 600);
        }
      }

      a {
        color: map-get($green-palette, 300);
        font-size: 11px;
        text-decoration: none;
        display: block;

        &.with-margin {
          margin-top: 100px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .interests-item-cover {
        .interests-item {
          border-radius: 35px;
          background-color: map-get($gray-palette, 350);
          display: inline-block;
          font-size: 11px;
          color: map-get($gray-palette, 450);
          padding: 5px 11px;
          margin: 2px 4px;
        }
      }
    }
  }
}
