<div *ngIf="isAuth" class="user-landing-header">
  <a routerLink="/user/profile"><img class="user-landing-header-logo" src="/assets/images/logo.png" /></a>
  <div class="header-right-cover">
    <app-header-right></app-header-right>
  </div>
</div>
<div class="main-header-cover" [style.background-image]="backgroundImage">
  <div class="social-actions">
    <button *ngIf="userProfile?.is_me" type="button" (click)="changeBackground()" class="edit-background">
      <span class="icon i-pencil"></span>
      Change background
    </button>
    <div class="personal-cover">
      <p class="personal-job">{{ userProfile?.position }}</p>
      <h3>{{ userProfile?.first_name }} {{ userProfile?.last_name }}</h3>
    </div>
    <div class="personal-cover">
      <p class="personal-job">Contact me</p>
      <div class="share-buttons">
        <a [href]="'tel:' + userProfile?.phone" class="icon i-call"></a>
        <a [href]="'https://wa.me/' + userProfile?.phone" target="_blank" class="icon i-whatsapp"></a>
        <a [href]="'mailto:' + userProfile?.contacts?.email" class="icon i-email"></a>
        <a [href]="userProfile?.contacts?.facebook" target="_blank" class="icon i-facebook"></a>
        <button (click)="copyLink()" class="share-media">
          <span class="icon i-share"></span>
          Share profile
        </button>
      </div>
    </div>
  </div>
  <div class="container-user-landing">
    <div class="user-main-info">
      <div class="avatar-cover">
        <img class="user-avatar" [src]="userProfile?.avatar" />
      </div>
      <div class="user-info-cover">
        <ng-container *ngIf="userProfile?.interests?.about_me">
          <h6>About me</h6>
          <div class="shortly-about-self">
            {{ userProfile?.interests?.about_me }}
          </div>
        </ng-container>
        <ng-container *ngIf="userProfile?.contacts?.city?.name && userProfile?.contacts?.country?.name">
          <h6>Address</h6>
          <div class="contact-info">
            <span class="icon i-location-green"></span>
            {{ userProfile?.contacts?.city?.name }}, {{ userProfile?.contacts?.country?.name }}
          </div>
        </ng-container>
        <ng-container *ngIf="userProfile?.portfolios.length">
          <h6>My portfolio</h6>
          <a *ngFor="let portfolio of userProfile?.portfolios" [href]="portfolio.url" target="_blank" class="contact-info">
            <span class="icon i-link-green"></span>
            {{ portfolio.url }}
          </a>
        </ng-container>
        <a *ngIf="userProfile?.is_me" routerLink="/user/profile/edit" class="edit-link">
          <span class="icon i-pencil-paper-edit"></span>
          Edit my B-digital card
        </a>
      </div>
    </div>
  </div>
</div>
<div class="secondary-info-cover">
  <div class="container-user-landing">
    <div class="various-cover">
      <div class="first-cover">
        <div *ngIf="userProfile?.schools.length" class="job-cover">
          <h5>Secondary education</h5>
          <div *ngFor="let school of userProfile?.schools" class="key-value-cover">
            <div class="key-value">
              <span>School:</span>{{ school.specialization.school.name }}
            </div>
            <div class="key-value">
              <span>Country:</span>{{ school.specialization.school.country?.name || '-' }}
            </div>
            <div class="key-value">
              <span>City:</span>{{ school.specialization.school.city?.name || '-' }}
            </div>
            <div class="key-value">
              <span>Date of issue:</span>{{ school.issue_date || '-' }}
            </div>
          </div>
        </div>
        <div *ngIf="userProfile?.institutions.length" class="job-cover">
          <h5>Higher education</h5>
          <div *ngFor="let institution of userProfile?.institutions" class="key-value-cover">
            <div class="key-value">
              <span>College / university:</span>{{ institution.faculty.institution.institution }}
            </div>
            <div class="key-value">
              <span>Country:</span>{{ institution.faculty.institution.country?.name || '-' }}
            </div>
            <div class="key-value">
              <span>City:</span>{{ institution.faculty.institution.city?.name || '-' }}
            </div>
            <div class="key-value">
              <span>Issue date:</span>{{ institution.issue_date || '-' }}
            </div>
            <div class="key-value">
              <span>Faculty:</span>{{ institution.faculty.name || '-' }}
            </div>
            <div class="key-value">
              <span>Form of training:</span>{{ institution.form_training || '-' }}
            </div>
            <div class="key-value">
              <span>Status:</span>{{ higherEnum[institution.status] || '-' }}
            </div>
          </div>
        </div>
        <div *ngIf="userProfile?.jobs.length" class="job-cover">
          <h5>Career</h5>
          <div *ngFor="let job of userProfile?.jobs" class="key-value-cover">
            <div class="key-value">
              <span>Company:</span>{{ job.job.name }}
            </div>
            <div class="key-value">
              <span>Country:</span>{{ job.job.country?.name || '-' }}
            </div>
            <div class="key-value">
              <span>City:</span>{{ job.job.city?.name || '-' }}
            </div>
            <div class="key-value">
              <span>From:</span>{{ job.from_date || '-' }}
            </div>
            <div class="key-value">
              <span>To:</span>{{ job.to_date || '-' }}
            </div>
            <div class="key-value">
              <span>Position:</span>{{ job.position || '-' }}
            </div>
          </div>
        </div>
        <div *ngIf="userProfile?.armies.length" class="job-cover">
          <h5>Military service</h5>
          <div *ngFor="let army of userProfile?.armies" class="key-value-cover">
            <div class="key-value">
              <span>Country:</span>{{ army.army_part.country?.name || '-' }}
            </div>
            <div class="key-value">
              <span>Army part:</span>{{ army.army_part.name }}
            </div>
            <div class="key-value">
              <span>From:</span>{{ army.from_date || '-' }}
            </div>
            <div class="key-value">
              <span>To:</span>{{ army.to_date || '-' }}
            </div>
          </div>
        </div>
      </div>
      <div class="second-cover">
        <div class="job-cover">
          <h5>Life position</h5>
          <div class="key-value-cover">
            <div class="key-value">
              <span>Political views:</span>{{ viewEnum[userProfile?.life_position?.political_views] || '-' }}
            </div>
            <div class="key-value">
              <span>Worldview:</span>{{ viewEnum[userProfile?.life_position?.world_views] || '-' }}
            </div>
            <div class="key-value">
              <span>Personal priority:</span>{{ viewEnum[userProfile?.life_position?.personal_priority] || '-' }}
            </div>
            <div class="key-value">
              <span>Important in others:</span>{{ viewEnum[userProfile?.life_position?.important_in_others] || '-' }}
            </div>
            <div class="key-value">
              <span>Views on smoking:</span>{{ viewEnum[userProfile?.life_position?.smoking_views] || '-' }}
            </div>
            <div class="key-value">
              <span>Views on alcohol:</span>{{ viewEnum[userProfile?.life_position?.alcohol_views] || '-' }}
            </div>
            <div class="key-value">
              <span>Inspired by:</span>{{ viewEnum[userProfile?.life_position?.inspired_by] || '-' }}
            </div>
          </div>
        </div>
        <div *ngIf="userProfile?.interestsList?.length" class="job-cover less-margin">
          <h5>Interests</h5>
          <div class="interests-item-cover">
            <div *ngFor="let item of userProfile?.interestsList" class="interests-item">{{ item }}</div>
          </div>
        </div>
        <div *ngIf="userProfile?.activitiesList?.length" class="job-cover less-margin">
          <h5>Activities</h5>
          <div class="interests-item-cover">
            <div *ngFor="let item of userProfile?.activitiesList" class="interests-item">{{ item }}</div>
          </div>
        </div>
      </div>
      <div class="third-cover">
        <div *ngIf="userProfile?.favouriteMusicList?.length" class="job-cover less-margin">
          <h5>Favourite music</h5>
          <div class="interests-item-cover">
            <div *ngFor="let item of userProfile?.favouriteMusicList" class="interests-item">{{ item }}</div>
          </div>
        </div>
        <div *ngIf="userProfile?.favouriteMoviesList?.length" class="job-cover less-margin">
          <h5>Favourite movies</h5>
          <div class="interests-item-cover">
            <div *ngFor="let item of userProfile?.favouriteMoviesList" class="interests-item">{{ item }}</div>
          </div>
        </div>
        <div *ngIf="userProfile?.favouriteBooksList?.length" class="job-cover less-margin">
          <h5>Favourite books</h5>
          <div class="interests-item-cover">
            <div *ngFor="let item of userProfile?.favouriteBooksList" class="interests-item">{{ item }}</div>
          </div>
        </div>
        <div *ngIf="userProfile?.interests?.favorite_quotes" class="job-cover">
          <h5>Favourite quotes</h5>
          <div class="key-value-cover">
            <div class="key-value">{{ userProfile?.interests?.favorite_quotes }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-snackbar></app-snackbar>
